[2014-10-08 07:02] gapple opened #1 "Log previous issues from homebrew/homebrew"
There are unresolved issues against `brew services` that were logged in the main homebrew repository, and even some pull requests.

Several issues are available through references in  homebrew/homebrew#28657

[2014-10-16 11:21] rebyn opened #2 "Can't make this work"
[code]

Can I have a lead here :)? `-b` or `--trace` isn't available as well :(.

[2014-10-18 05:43] #2 closed, assigned to nobody

[2014-10-25 12:11] niksy opened #3 "Will this project be actively maintained?"
I love the ease of service management `brew services` provided, so I’m still using the version available at  [homebrew-boneyard](https://github.com/Homebrew/homebrew-boneyard).

Do you plan to maintain this project or should we use version available at core project group?

[2014-11-22 19:57] #3 closed, assigned to nobody

[2014-12-22 18:22] alanivey opened #4 "brew services broken when a newer version is available"
Copied from https://github.com/Homebrew/homebrew/issues/27024

I was able to see this in action by installing PHP 5.5.19 a little while ago and `brew update` had an available formula for 5.5.20 that I did not install. `brew services` attempts to load the `service.plist` from `Formula.factory(@formula)` (here)[https://github.com/gapple/homebrew-services/blob/master/cmd/brew-services.rb#L126]. When

[2014-12-31 04:37] #4 closed, assigned to nobody

[2015-01-02 18:54] alanthing commented on #4
Excellent, great work!

[2015-02-25 11:35] simonweil opened #6 "Feature Request: list command to show all available services to control"
Currently only shows the services that are running and available services to run.

[2015-02-25 11:37] simonweil opened #7 "osquery fails to start"
Error:
[code]

[2015-02-25 16:31] alanthing commented on #7
Are you able to `launchctl load /Users/simonweil/Library/LaunchAgents/homebrew.mxcl.osquery.plist` successfully?

[2015-02-25 17:49] simonweil commented on #7
No as it's the wrong command.
The `info` stats that the command to run is:
`launchctl load /Users/simonweil/Library/LaunchAgents/homebrew.mxcl.osquery.plist`

Running the command as defined in the info works fine.

[2015-03-31 05:01] jwhitley opened #8 "`sudo brew services start` should not add UserName to plist"
`sudo brew services start` incorrectly adds UserName to the services' launchd plist.  This breaks services such as `dnsmasq`, which need to run as root in order to bind ports, etc.

See also earlier PR, which includes a proposed fix: Homebrew/homebrew#26214

[2015-04-17 01:10] mikemcquaid opened #9 "Move to Homebrew organisation"
Would you be happy to move this repository to the official Homebrew organisation and continue maintaining it there? I've spoken to enough people who want this tool back that I'd love to make it an official tool despite not including it in Homebrew/homebrew.

[2015-04-17 11:12] alanthing commented on #9
:thumbsup: I'm a big fan of this project and I think moving it under the Homebrew organization would be a great idea.

[2015-04-21 11:11] mikemcquaid commented on #9
Would need @gapple to confirm if he's up for this.

[2015-04-21 18:44] gapple commented on #9
@mikemcquaid I would be glad to transfer it

[2015-04-22 14:12] mikemcquaid commented on #9
@gapple I've added you to the Homebrew organisation so you should be able to migrate this repository there now. When you've done that I'll give you admin access there.

[2015-04-22 18:16] gapple commented on #9
Migration is done, and I was able to push a commit to update the tap instructions :+1:

[2015-04-22 18:16] #9 closed

[2015-04-22 18:34] mikemcquaid commented on #1
You could migrate them with https://github-issue-mover.appspot.com

[2015-04-22 18:34] mikemcquaid commented on #9
Nice one, thanks!

[2015-05-09 17:44] namelessnotion commented on #7
@simonweil are you using `tmux`? I've found that `brew services list` doesn't work since `launchctl` commands do not play nicely with `tmux`.

[2015-05-11 15:10] simonweil commented on #7
Nop, no `tmux`.

[2015-06-18 21:30] scottzirkel opened #11 "ERROR: Failed to build gem native extension."
Not 100% this is a services issue, but I have stripped down and reinstalled  brew, ruby and more and it's still doing it.

When I run `brew services start (mysql|httpd22)` I get the following error:

[code]

I am not using system Ruby or the system gempath, yet this keeps referencing gems in the system gem path. It mentions nokogiri but I don't use that nor have it installed.

My $PATH, which you

[2015-06-19 15:00] scottzirkel commented on #11
Fixed it with Homebrew/homebrew#31220

[2015-06-19 15:00] #11 closed

[2015-07-03 00:38] #8 closed

[2015-07-10 02:00] bbtfr commented on #6
+1 for this, or at least we can cache the services we have used before.

[2015-07-14 00:04] gapple commented on #6
Currently the listed services are determined by parsing the output from `launchctl list`, and limiting to those with a prefix of `homebrew.mxcl`.  This also results in only the services running under the current user being displayed (or the root user if run with `sudo`).

In order to list all available services, it's probably necessary to enumerate all of the installed formulae with either a `star

[2015-07-14 14:30] gapple commented on #6
I would appreciate feedback on the PR, since it drops a few capabilities and I'm not sure how important those are to people.

[2015-07-14 17:15] gapple commented on #7
I'm not quite sure how you're encountering the output you are; osquery doesn't provide a plist for `brew services` to make use of, and for me it provides the corresponding error.

[code]

Using the updated `list` command from pull request #12, osquery doesn't appear as a controllable service:
[code]

The [osquery documentation](https://osquery.readthedocs.org/en/stable/installation/install-osx/) r

[2015-07-17 17:52] xeron opened #13 "Service name is truncated"
Example:

[code]

where `chromedriv` is actually `chromedriver`.

[2015-07-21 16:02] gapple commented on #13
If you use the list command, I would appreciate your feedback on the changes in #12.
It includes an improvement to adjust the column widths so that the full service name would be displayed, amongst the other changes.

[2015-08-05 13:33] r00takaspin opened #15 "Stop all or start all option"
Most of my services are databases or key-value storages, sometimes it is important to easy start all services (for example when I am starting work on project) or stop all services. It it possible out of box?

[2015-08-05 20:16] gapple commented on #15
That isn't currently implemented, but should be possible to add.

[2015-08-05 20:19] gapple commented on #7
It is up to the osquery formula to implement the needed plist configuration

[2015-08-05 20:19] #7 closed

[2015-08-31 19:25] #6 closed

[2015-08-31 19:30] gapple commented on #13
#13 is now merged to master, so the list command will adjust the column to fit longer command names.

[2015-08-31 19:30] #13 closed

[2015-09-15 09:15] mikemcquaid commented on #1
Passing on this, not sure it's important.

[2015-09-15 09:15] #1 closed

[2015-10-04 00:13] falmp opened #21 "Permission denied on El Captain"
Is it supposed to stop working with the new El Captain security directives?

Should I use sudo to start/stop/restart my services from now on?

[code]

[2015-10-13 10:07] aried3r commented on #21
I had no problems using it. I'm not sure if I can help since I only started using it yesterday, but does `brew doctor` give any clue?

[2015-10-13 12:58] mikemcquaid commented on #21
Working here. Perhaps you need to manually fix some permissions?

[2015-10-13 12:58] #21 closed

[2015-10-14 17:52] ephexeve opened #23 "Stop a service without stopping it restarting on reboot"
When doing a ```brew services stop x``` it stops x and removes it from starting on the next boot. Is there a way I can stop a services for my current session only? When rebooting, it starts the services back again?

Systemctl does that already, looking for the same behavior.

[2015-10-15 07:52] mikemcquaid commented on #23
We don't support that currently and I could see the behaviour change being potentially confusing. For now I'd recommend just using `launchctl` until we have another command.

[2015-10-23 23:33] nkt opened #24 "Autocomplete"
Is there a package with bash autocompletion for this package?

[2015-10-24 08:06] mikemcquaid commented on #24
No, sorry. We'd accept a PR to add one.

[2015-10-24 08:06] #24 closed

[2015-10-31 00:44] falmp commented on #21
Sorry about the long delay on my response, but yes, I tested today and there were some permissions wrong, everything's working as expected now. Thanks!

[2015-11-02 11:01] anthonybrown opened #25 "nginx not serving from localhost"
I use `brew-services` and love it but recently I noticed my `nginx` server is no longer serving files from `localhost:8080`

It will serve from `127.0.0.1:8080`

Any ideas if this has something to do with running everything from `brew-services`?

I've installed all my software with `brew` PHP56, mysql, redis, memcached etc and things were working like expected until a couple of `brew upgrade` ago.

[2015-11-02 11:03] anthonybrown commented on #25
I'm going to try and install `nginx` from the `Homebrew Nginx tap` repo and see if installing `nginx-full` works.

[2015-11-02 11:13] anthonybrown commented on #25
After removing `nginx` and installing `nginx-full`

I'm getting the same behavior, files are being served from 127.0.0.1 but not loading from localhost, which is very strange because my host file says: `127.0.0.1 localhost`

[2015-11-02 11:33] anthonybrown commented on #25
Here is the [gist](https://gist.github.com/394d69cfd9be84e2bdbf)

[2015-11-03 01:14] mikemcquaid commented on #25
If both `nginx` and `nginx-full` are producing the same effect it seems like it's an nginx configuration issue.

[2015-11-03 16:42] gapple commented on #25
Saw that you solved this in nginx config by adding an ipv6 listen rule

[2015-11-03 16:42] #25 closed

[2015-11-03 23:15] anthonybrown commented on #25
sorry, forgot about my ticket here. Yep, quick fix, thanks @mikemcquaid

[2015-11-07 05:29] SteveBenner commented on #23
https://github.com/eddiezane/lunchy is also pretty great

[2015-12-22 23:46] antstorm commented on #15
@r00takaspin it should now be possible, #28

[2015-12-23 08:16] mikemcquaid commented on #15
Yup, fixed, thanks!

[2015-12-23 08:16] #15 closed

[2016-01-16 21:13] Coaxial opened #30 "Services running as root?"
AFAIK, running a service as root is against best practices because of the security implications. While 99% of brew's use cases are on developers machines, it still feels wrong to run services as root because it is a vector when you forget to stop said services and are on a public wifi, for instance.

Why run as root? Is there an alternative? Unless I'm mistaken, postgres runs under the postgres us

[2016-01-17 21:20] mikemcquaid commented on #30
You shouldn't have to run as root. Can you confirm what is making you think you must? Thanks!

[2016-01-17 23:41] Coaxial commented on #30
I don't want to run as root. I think I misread the README, I guess I was tired!

[2016-01-17 23:41] #30 closed

[2016-01-18 16:18] kbrock commented on #23
Thanks for taking on `brew services` very cool.

I think this is asking the question in a different way. Is there a way to stop a service without uninstalling it?
I guess I was hoping for something more like:

command|effect
---|---
install|`ln -sfv /usr/local/opt/postgresql/*.plist ~/Library/LaunchAgents`
start|`launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist`
stop|`launchctl

[2016-02-01 16:41] ilovezfs opened #32 "What about /Library/LaunchAgents?"
From the launchctl(1) man page,
[code]

Is /Library/LaunchAgents just not a common use case?

[2016-02-01 17:08] mikemcquaid commented on #32
Yep, it doesn't fit into the type of daemons we provide, really.

[2016-02-01 17:08] #32 closed

[2016-02-14 17:40] mikemcquaid commented on #23
Passing on this feature request, sorry!

[2016-02-14 17:40] #23 closed

[2016-03-17 19:44] MichaelRueegg opened #37 "Describe steps to make an existing formula 'brew services' aware"
Please provide instructions on how to make an existing formula working together with brew services. I have some formulas which register a plist file in /Library/LaunchDaemons, but these are not listed when I execute `brew services list`. What do I need to do?

[2016-03-18 02:26] mikemcquaid commented on #37
Are they listed if you run `sudo brew services list`?

[2016-03-18 07:36] MichaelRueegg commented on #37
No, it is not. What are the requirements for a daemon to be manageable by brew services?

[2016-03-18 08:31] mikemcquaid commented on #37
What are the filenames of the `plist`s there?

[2016-03-18 08:35] MichaelRueegg commented on #37
The one that is not working is `/Library/LaunchDaemons/com.crashplan.engine.plist`

[2016-03-18 08:38] mikemcquaid commented on #37
`brew services` only manages those named `homebrew.mxcl.*.plist`

[2016-03-18 08:38] #37 closed

[2016-03-18 08:44] MichaelRueegg commented on #37
Can I contribute to the crashplan brew formula so that it works with brew services? If yes, are there instructions anywhere on how to achieve that?

[2016-03-18 08:51] mikemcquaid commented on #37
@MichaelRueegg That doesn't seem to be a Homebrew formula that's in the core repository. This is our general pull request guide: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-03-18 09:05] MichaelRueegg commented on #37
@mikemcquaid Thanks for the info. Coming from Linux I would highly appreciate to be able to easily handle services with brew. But if only some of the formulas are supported, it is hard to really use it in practice. What I don't understand is why this has to be restricted to the formulas that explicitly provide `homebrew.mxcl.*.plist` files. Can brew services not just support all plist files in `/L

[2016-03-18 18:09] MichaelRueegg commented on #37
But then I guess it will only work with formulas where the author provides
such a file explicitly. That seriously restricts its usefulness imho. Do
you know why this has been done like this? Would you accept a pull request
where all plist files in /library/launchdaemons are considered?
Am 18.03.2016 18:54 schrieb "Mike McQuaid" <notifications@github.com>:

[2016-03-19 06:08] mikemcquaid commented on #37
`brew services` requires Homebrew and is a tool designed to manage services installed by Homebrew so we wouldn't accept a PR that handles all plist files. There's other tools available that manage all OS X plists and I think you may be better suited with one of them.

[2016-03-20 11:03] MichaelRueegg commented on #37
I installed Crashplan with brew cask (see https://github.com/caskroom/homebrew-cask/blob/master/Casks/crashplan.rb). Are casks not supported by brew services then? Or do I need to adapt the cask formula to provide a  `homebrew.mxcl.*.plist` file?

[2016-03-21 10:07] mikemcquaid commented on #37
@MichaelRueegg Normally these things are autoinstalled and enabled/disabled by the applications themselves. Additionally, Cask plists are not supported by `brew services` due to the aforementioned reason.

[2016-03-23 17:07] naturalethic opened #38 "Logic inverted in running services as root vs user"
When running as root, you need to add the UserName key to the plist, however, the key is being added when running as local user, and not when running as root, causing almost (if not all) services to fail.

[2016-03-23 17:24] naturalethic commented on #38
https://github.com/Homebrew/homebrew-services/pull/39

[2016-03-23 20:58] gapple commented on #38
I've copied your description to the PR, and will close this issue in favour or the pull request.

[2016-03-23 20:58] #38 closed

[2016-03-30 17:27] kalebheitzman opened #43 "Feature Request: Caddy"
Would it be possible to use brew services for Caddy?

https://caddyserver.com/

[2016-03-30 18:13] mikemcquaid commented on #43
Yep, someone just needs to open a pull request to add a `plist` to the formula.
Could you try and open a pull request? This should help and I'm happy to walk you through anything else: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/How-To-Open-a-Homebrew-Pull-Request-(and-get-it-merged).md#how-to-open-a-homebrew-pull-request-and-get-it-merged

Thanks!

[2016-03-30 18:13] #43 closed

[2016-04-19 16:43] OhCoder opened #46 "Error: Could not read the plist for `postgresql`!"
### System version:
Description:	Ubuntu 14.04.3 LTS

### Linuxbrew ( here I installed Linuxbrew not the Homebrew ):
Homebrew 0.9.5 (git revision dc1c2; last commit 2016-04-15)
source code: https://github.com/Linuxbrew/linuxbrew

#### I installed Linuxbrew, and then installed the homebrew-services with the command:

`brew tap homebrew/services`

#### I installed PostgreSQL with Linuxbrew, with the

[2016-04-19 17:17] mikemcquaid commented on #46
homebrew-services does not support Linux, sorry.

[2016-04-19 17:18] #46 closed

[2016-04-28 14:16] molovo opened #49 ""Brew services cannot run under tmux" error is misinformative"
This error message was added in commit 68c176a9.

`brew services` *can* run under tmux, provided [reattach-to-user-namespace](https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard) is run.

Ideally we should either check for an attached namespace, and instruct the user to install the `reattach-to-user-namespace` formula if it's not, rather than just exiting the script.

When attached to the names

[2016-04-28 14:20] mikemcquaid commented on #49
Please, that would be great. I was aware of this but had no idea how to detect it and figured someone like yourself who actually uses `tmux` would have a better idea 👍

[2016-04-28 14:37] molovo commented on #49
I'll take a look, see what I can do

[2016-04-28 15:11] UniqMartin commented on #49
@molovo Please have a look at #48. That's something that is being addressed in the linked PR, but hasn't been merged yet (though it seems to be ready by now).

I think you can help by testing the change and reporting back in the mentioned PR.

[2016-04-30 15:05] ilovezfs commented on #49
Closed via https://github.com/Homebrew/homebrew-services/commit/55156b7c260f9468f03d4ea8a4735bf3abed32b4

[2016-04-30 15:05] #49 closed

[2016-05-13 22:39] alexcruice opened #50 "brew-services-list outputs startup_plist warnings"
### Issue
As result of Homebrew/brew#233, `brew services list` now outputs many warnings (dependent on the number of installed brews).
I'm confident these warnings are intentional so that deprecated `#startup_plist` usage is rooted out.

### Cause
[Call to `#startup_plist` that causes the warning via `#opoo`](https://github.com/Homebrew/homebrew-services/blob/55156b7c260f9468f03d4ea8a4735bf3abed32

[2016-05-14 07:41] #50 closed

[2016-05-22 14:08] nassendelft opened #53 "artifactory -> Invalid or missing Program/ProgramArguments"
Hi,

I've just installed artifactory and tried to start it but i'm getting the following error:

[code]

[code]

`-rw-------   1 nick  staff   510B 22 May 15:01 homebrew.mxcl.artifactory.plist`

Everything looks fine, not sure why this is happening. I've tried starting it manually:

[code]
no luck there either. I even tried to change ownership to root and change permissions to 600 with difference.

[2016-05-23 04:25] gapple commented on #53
All of the services that I use specify the program with `ProgramArguments`, so there may be a problem with the `WorkingDirectory` + `Program` specified by the artifactory formula.

For example in mysql:
[code]

[2016-05-25 07:20] grekko opened #54 "Error: / is not inside a keg"
I am running homebrew (Homebrew 0.9.9, git revision 898cb; last commit 2016-05-25) on 10.11.5 (15F34).

Starting yesterday the call to `brew services list` throws an error:

[code]

I removed all homebrew-related *.plist files and retried, but the error persists.

Do you have any insight or idea what this error points to?

[2016-05-25 08:17] MikeMcQuaid commented on #54
Try to run `brew services --debug list` and paste the output here, thanks!

[2016-05-25 10:35] grekko commented on #54
Running: `brew services --debug list` returns:

[code]

[2016-05-25 10:38] MikeMcQuaid commented on #54
Finally: `brew services list --debug`

[2016-05-25 10:44] grekko commented on #54
Sorry I didn't mention that I tried that too w/ the same result though.

[code]

I also tried setting/exporting the `DEBUG=1` ENV var but that did not provide any useful output either.

[2016-05-25 16:18] #53 closed

[2016-05-26 06:51] MikeMcQuaid commented on #54
@grekko Can you `brew update` and then run `brew services list --debug` again? I should have fixed that to give more helpful output.

[2016-05-26 07:54] grekko commented on #54
Thanks for the quick help.

I did:
[code]

And then `brew services list --debug` returns:
[code]

[2016-05-27 08:13] daFish opened #56 "Unable to start services - "The UserName key is not supported for non-System services.""
Since upgrading to OS X 10.11.5 I can no longer start services like httpd22.

`brew services start httpd22` results in `==> Successfully started ``httpd22`` (label: homebrew.mxcl.httpd22)` which is perfectly fine.

However, when inspecting the logs using `syslog -k Sender com.apple.xpc.launchd` I noticed the following entries:
[code]

The `.plist`-file contains the section in question which was pe

[2016-05-27 08:23] MikeMcQuaid commented on #56
I'm also on 10.11.5 and am not able to reproduce this. The `UserName` stuff should be cleaned up at some point but it's not what's causing this error. What happens if you run `httpd22` manually? Smells like it could be a local configuration issue.

[2016-05-27 09:12] daFish commented on #56
Running it manually works. This gets weirder and weirder.

[2016-05-28 22:20] yuriteixeira commented on #54
Same here :(

[2016-05-29 21:07] MikeMcQuaid commented on #56
@daFish I'm afraid this doesn't look like a Homebrew issue. If you can figure out a fix and create a PR then we'll consider it. Sorry!

[2016-05-30 08:16] daFish commented on #56
Thanks, @MikeMcQuaid. I try to come up with a solution. However, I have the exact same issue on another machine running 10.11.5.

[2016-05-30 08:20] MikeMcQuaid commented on #56
@daFish Try to remove the `UserName` key and then `brew reinstall`.

[2016-05-30 08:29] daFish commented on #56
@MikeMcQuaid Still doesn't work. The `UserName` key is always readded when starting the service.

[2016-05-30 08:50] daFish commented on #56
Starting the service with `sudo` works as expected.

[2016-05-30 09:01] MikeMcQuaid commented on #56
@daFish You may also want to try and remove the relevant `UserName` code from `brew services` and see if that fixes it.

[2016-05-30 09:01] MikeMcQuaid commented on #56
also CC @ilovezfs for thoughts.

[2016-05-30 09:15] ilovezfs commented on #56
Perhaps they got stricter and made the incorrect usage an error instead of just ignoring it.

As a workaround, @daFish can you try opening brew-services.rb, and changing
[code]
to
[code]

[2016-05-30 09:27] daFish commented on #56
@ilovezfs This worked and I was able to start the services without any problems.

[2016-05-30 09:30] ilovezfs commented on #56
Cool. You may want to commit that change for now, since brew update will try to stash it otherwise.

[code]

[2016-05-30 09:34] MikeMcQuaid commented on #56
@ilovezfs Thanks! Would you or @daFish mind making a PR for that?

[2016-05-30 09:36] ilovezfs commented on #56
@MikeMcQuaid Sure. Let's go with that as a workaround, clean up the formulae, and then drop the section entirely.

[2016-05-30 09:45] MikeMcQuaid commented on #56
@ilovezfs Sounds good.

[2016-05-30 09:48] #54 closed

[2016-05-30 09:48] MikeMcQuaid commented on #54
@grekko @yuriteixeira If you `brew update` this should be fixed. If not, can I see your same output again. Thanks!

[2016-05-30 10:04] daFish commented on #56
@MikeMcQuaid Done.

[2016-05-31 13:32] grekko commented on #54
@MikeMcQuaid Thanks. works like a charm now.

[2016-05-31 13:32] MikeMcQuaid commented on #54
@grekko Glad to hear it. No idea what caused this but glad my blind debugging worked!

[2016-05-31 14:01] kevinzzz007 opened #60 "Is Brew Services supported again?"
In the latest `brew info postgresql`, it tells me to use `brew services` to start postgresql, does this mean `brew services` is maintained by someone now?  Thanks!

[2016-05-31 14:05] MikeMcQuaid commented on #60
Yep!

[2016-05-31 14:05] #60 closed

[2016-06-03 13:18] #56 closed

[2016-06-03 18:33] samv opened #61 "`brew services start` reports success without checking return code"
I've noticed that if you start a service and that service fails, that `brew services` does not report this.  This is confusing to users who think that it has succeeded.

The status appears to be available via `launchctl list`:

[code]

Here, postgres has failed to start, but this is not reported.

[2016-06-04 14:08] MikeMcQuaid commented on #61
We can't do anything about this as it's a limitation of `launchctl` which `brew services` calls out too.

[2016-06-04 14:08] #61 closed

[2016-06-30 16:31] jwgoh commented on #61
Hah, I faced the same problem too!

I am interested to know why _"it's a limitation of `launchctl` which brew services calls out to"_. I am not familiar with the codebase but will give it a go. Any guidance to help me understand is much appreciated.

Thanks for the amazing project btw 😄

[2016-06-30 16:33] samv commented on #61
At the very least, the message could read something like "Requested to start X" instead of the confidently stated "started X".

[2016-07-03 21:42] MikeMcQuaid commented on #61
Unfortunately this can't be fixed; it's a limitation of `launchctl` rather than `brew services`.

[2016-07-03 21:43] MikeMcQuaid commented on #61
@samv While I agree at this point, unfortunately, it would likely break a lot of scripts that rely on the output being as-is.

[2016-07-05 16:43] mhwalsh commented on #21
@falmp could you elaborate on what the permissions you needed to change? What permissions do you need to have on the LaunchAgents directory for brew services to be happy?  Thanks in advance!

[2016-07-05 19:17] falmp commented on #21
@mhwalsh I don't actually recall, but checking my directory now I have `/Users/$USER/Library/LaunchAgent` and all files inside this directory owned by my user and group `staff`. So you could try:

`chown -R $USER: /Users/$USER/Library/LaunchAgents`

[2016-07-13 00:08] genjusz opened #62 "`brew services start` fails on bad ownership/permissions"
I'm having trouble with starting services via `brew services start` command.
Tried this on 2 clean OSs: Yosemite and El Captain with the same result.

So I have fresh install of given services:

[code]

Every time I try to start any of it I get:
[code]

Problem is that permissions and ownership looks good to me...
[code]

According to `brew doctor` - I'm ready to brew...
On other machine I have, e

[2016-07-13 09:06] MikeMcQuaid commented on #62
Can we see `ls -la /usr/local/opt/redis/bin/redis-server /usr/local/etc/redis.conf /usr/local/var /usr/local/var/log/redis.log`?

[2016-07-13 10:32] genjusz commented on #62
Sure, but `redis` is here only as an example. Same thing happens with every service that I want to run as user.

[code]

[2016-07-13 10:41] MikeMcQuaid commented on #62
No idea what's going on here, I'm afraid. Given the error comes from `launchctl` it's not clear it's a `brew services` bug either 😭

[2016-08-07 15:32] MartelliEnrico opened #64 "Deprecated `Formula.factory` call"
I just got this message while updating brew:

[code]

So I decided to report it 😄

[2016-08-07 16:11] #64 closed

[2016-08-07 16:11] ilovezfs commented on #64
@MartelliEnrico Thanks, fixed!

[2016-08-08 19:35] genjusz commented on #62
It turns out that moving user directory to another partition (which is CaseSensitive, but I don't know if this has anything to do with that) is causing that error...
You were right, the error comes from `launchctl `.

[2016-08-08 19:35] #62 closed

[2016-08-08 21:25] JackWink opened #66 "Redis reported alive, but fails to run"
I'm having some trouble getting `brew services start redis` to work.  It seems to have generated a valid LaunchAgents plist, and I'm able to run redis manually by pointing `redis-server` at `/usr/local/etc/redis.conf`. But running `brew services start redis` reports a success without starting redis.

[code]

The generated Plist looks as follows:

[code]

[2016-08-09 07:16] MikeMcQuaid commented on #66
Try to run `/usr/local/opt/redis/bin/redis-server /usr/local/etc/redis.conf` and see what the output is.

[2016-08-25 07:27] govindpatel opened #67 "Formula.factory is deprecated"
I am trying to restart nginx using `brew services restart nginx`

running that command gives the following result:
[code]
which broke something,
and then when I try to access those url configured in nginx config file. I get
[code]

also then when I ran this command `brew services list` to see the services which are running

it display a list of this warning:
[code]

and shows that nginx is running

[2016-08-25 07:37] MikeMcQuaid commented on #67
This was fixed in https://github.com/Homebrew/homebrew-services/commit/573611593c2d9132c190d77f5f3d14d5f54cc7d5, please `brew update` and try again.

[2016-08-25 07:50] govindpatel commented on #67
I tried to update the brew
it says `Already up-to-date`

[2016-08-25 08:09] MikeMcQuaid commented on #67
You may have hit https://github.com/Homebrew/brew#update-bug. Can you try the instructions there and see if they help? Thanks!

[2016-08-25 08:42] govindpatel commented on #67
hmm... that removed all the warnings,
but still the nginx problem there.

[2016-08-25 08:48] MikeMcQuaid commented on #67
The rest is nginx configuration I'm afraid so I'm unable to help as it's unrelated to `brew services`. Sorry!

[2016-08-25 08:48] #67 closed

[2016-08-25 08:57] govindpatel commented on #67
🆒  thanks for helping me out fixing those warning

[2016-08-26 07:56] cema-sp commented on #66
@JackWink I faced the same issue today, `brew upgrade redis && brew link --overwrite redis` solved the problem.

[2016-08-26 08:53] MikeMcQuaid commented on #66
No reply and a suggested workaround so closing.

[2016-08-26 08:53] #66 closed

[2016-09-07 02:51] ticky opened #68 "help output implies functionality which is not present"
In particular;
[code]
seem to imply you can supply them _a list_ of services, which is not the case, the only plural case is `--all`, but that is only really made clear in the [more `man`-style help text in the source code](https://github.com/Homebrew/homebrew-services/blob/573611593c2d9132c190d77f5f3d14d5f54cc7d5/cmd/brew-services.rb#L8).

It seems like either the start and stop commands should a

[2016-09-07 07:11] MikeMcQuaid commented on #68
I agree with your critique and a PR would be 🙇

[2016-09-07 07:46] ticky commented on #68
I'm afraid due to the caveat noted I don't suspect multi-service functionality is something I can reasonably implement (I can't think of a reasonable way to do it without breaking existing usages in a backwards-incompatible manner! Maybe once Homebrew gets the versioning a little birdy suggested was approaching) but I'll polish the help output, for sure! 😄

Is there a style guide for such things (

[2016-09-07 07:56] MikeMcQuaid commented on #68
Sorry, yeh, this is all I was expecting here.

Not really but https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Prose-Style-Guidelines.md and `brew --help` and `man brew` are probably your best examples. Thanks again!

[2016-09-07 08:14] #68 closed

[2016-09-15 01:17] BrianHawley opened #70 "Have brew service started with sudo use a different user than root"
If you do `sudo brew services start ...` it creates a plist in the "/Library/LaunchDaemons/" directory, but that plist doesn't have the UserName specified. If you manually add the UserName setting to that plist, restarting the service erases your changes.

I want an option to specify a user to run a global launch daemon with. In particular, I want to run elasticsearch at startup, but it doesn't ru

[2016-09-15 07:16] MikeMcQuaid commented on #70
@ilovezfs worked on this so is probably the best person to ask here.

[2016-09-15 07:20] ilovezfs commented on #70
Yep this is currently the intended behavior. I'd suggest trying `sudo -u bob elasticsearch` in the program arguments array and see if that does the trick without modifying brew services.

[2016-09-15 07:26] #70 closed

[2016-09-15 10:39] jaspertandy opened #71 "Restart a service without reinitialising the plist?"
I'm not sure what's happening internally here, but when I restart MySQL, any changes I make to the launchagent are overwritten. What's the best way to make changes to the plist file that persist between restarts?

[2016-09-15 10:49] MikeMcQuaid commented on #71
Either use `launchctl` directly or have a custom formula which specifies the plist of your choice.

[2016-09-15 10:49] #71 closed

[2016-09-15 10:51] jaspertandy commented on #71
Surely the point of this is to remove the need to access `launchctl` directly? Like I could do all the things that homebrew-services does with launchctl.

[2016-09-15 11:09] MikeMcQuaid commented on #71
The point of this is to start Homebrew's formulae plists in launchctl. Note we also don't support starting/stopping non-Homebrew plists.

[2016-09-15 11:12] jaspertandy commented on #71
Right, but what I'm asking here isn't related to starting/stopping non-Homebrew plists - it's related to stopping a homebrew plist which homebrew-services _created_ without deleting it first. I don't think that's unreasonable.

[2016-09-15 11:28] MikeMcQuaid commented on #71
Sure, to be clear I don't think it's an unreasonable ask but it's just out of scope for us currently given we want `brew services` to respond to formulae plist changes.

[2016-09-15 11:30] jaspertandy commented on #71
Right OK cool. I thought I was being crazy for a second there. I've forked and added the functionality to be able to reload without deleting the plist.

[2016-09-16 09:51] unionx commented on #46
Hi, same error on Linux. Do you have any plan to support Linuxbrew?

[2016-09-16 09:52] MikeMcQuaid commented on #46
@unionx We'd accept pull requests but almost certainly not as it's very tightly bound currently to `launchctl`.

[2016-09-19 23:00] gapple commented on #70
There are a bunch of other relevant issues to plist user handling, but #44 was one of the final ones.  It was determined that there currently isn't (yet) a strong reason for an option to set the plist user through `brew services`.

If a formula such as elasticsearch always requires being run as a non-root user, the formula's plist should be modified.  Setting it to a specific user for all installa

[2016-09-27 04:53] doitian commented on #66
Editing /usr/local/etc/redis.conf and modifying `daemonize` to `no` solved my problem.

[2016-09-29 09:29] joshka opened #72 "Pull in completions from OMZ"
See previously written completions at https://github.com/robbyrussell/oh-my-zsh/pull/4313

This requires a core change, which is tracked at https://github.com/Homebrew/brew/issues/1184

[2016-10-04 23:45] arthurlm44 opened #75 "Brew services tmux"
In a tmux session, when running `brew services list`, I get `Error: brew services cannot run under tmux!` on OSX Sierra.
This is not the case in El Capitan.

Current behavior: brew services does not work while in a tmux session under OSX Sierra.
Desired behavior: brew services should work while in a tmux session.

[2016-10-05 07:03] MikeMcQuaid commented on #75
This is not something we can fix, sorry.

[2016-10-05 07:03] #75 closed

[2016-10-05 17:09] diclophis commented on #75
@arthurlm44 brew is community maintained, you should see if you can make a patch to fix it

[2016-10-05 17:11] armandocerna commented on #75
@MikeMcQuaid Could you possibly shed a little more light into why exactly this is the case.  I am both an avid brew and tmux user and would love if they could work together

[2016-10-05 17:25] MikeMcQuaid commented on #75
It's not `brew services` that's the issue, it's `launchd` which is provided by Apple. You'll need to ask the `tmux` developers why those two things don't play nicely.

[2016-10-05 19:05] dunn commented on #75
FYI installing `reattach-to-user-namespace` is one workaround: https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard

[2016-10-05 19:07] dunn commented on #75
Related issue: https://github.com/Homebrew/homebrew-services/pull/48

[2016-10-06 16:17] laike9m opened #76 "Is it possible to provide command line options to the program you want to start?"

[2016-10-07 03:20] gapple commented on #76
`brew services` doesn't make any modifications to the plist provided by the formula, so there is currently no way to make modifications at launch time.

[2016-10-07 04:27] laike9m commented on #76
OK

[2016-10-07 04:27] #76 closed

[2016-10-20 11:21] kernel-task opened #78 "anomaly with httpd24"
**Preamble:**

Have taken to starting all brew related processes with '**sudo brew services**' rather than directly with launchctl.

Current output from **brew services list**

**Issue:**
Upon login to system apache fails to start - always.
**sudo brew services restart httpd24** fixes this - each time - but is a bit of a pain as _all other processes behave as expected._
No error messages, brew doc

[2016-10-20 11:30] MikeMcQuaid commented on #78
That is a very bad idea; you're going to end up running a lot of services as `root` that need not be and, at least in this case, are accessible to the network.

This is likely related to `sudo brew services start` which starts on system start rather than user login. Resources that may be required may not be available.

[2016-10-25 17:39] espen commented on #66
For me running Redis manually with daemonize=yes works fine. But to get it to start with brew services I had to change to daemonize=no as @doitian said.

[2016-10-26 17:45] JackWink commented on #66
@MikeMcQuaid the workaround did not work for me, and daemonize was already set to `no` in the redis.conf file. I've also found postgres won't start through `brew services` as well, so I'm guessing my issue is more general than this ticket suggests.

[2016-10-29 02:29] MikeMcQuaid commented on #66
@JackWink Unless you provide the output I requested it's not possible for me to debug this issue or help you further.

[2016-10-31 14:25] MikeLund opened #80 ""brew service status $service" support"
Hi, is it a good idea to have some kind of command like `brew services status $SERVICENAME` ? An enhancement to make brew services a bit more like other init-daemons.

I was a bit tired and tried to see the status of a service, so I type `brew services status $SERVICENAME`. Unknown command.
Expected behavior would be to return something even as simple as `brew services list|grep $SERVICENAME`.

Am

[2016-11-01 00:45] SuperMarioBean opened #81 "brew service start/restart covers ~/Library/LaunchAgents/homebrew.mxcl.jenkins.plist"
I found every time I use the brew service start/restart the file(~/Library/LaunchAgents/homebrew.mxcl.jenkins.plist) will be covered by the original file(/usr/local/Cellar/jenkins/homebrew.mxcl.jenkins.plist), so I can not change the ~/Library/LaunchAgents/homebrew.mxcl.jenkins.plist.

[2016-11-02 18:05] MikeMcQuaid commented on #80
`brew services list` provides this information. We'd accept a PR that filters this for a given service but `brew services list | grep $SERVICENAME` will currently do this.

[2016-11-02 18:08] #80 closed

[2016-11-02 18:11] MikeMcQuaid commented on #81
This is intentional behaviour. If you wish to modify the plist edit the formula or use `launchctl` instead of `brew services`.

[2016-11-02 18:11] #81 closed

[2016-11-02 18:18] #78 closed

[2016-11-02 18:18] MikeMcQuaid commented on #72
Closing but welcome a PR for this.

[2016-11-02 18:18] #72 closed

[2016-11-03 17:49] karlshea commented on #78
That's not really an answer to the question. "brew services list" shows httpd24 as "started" and there is no httpd process running. The same thing happens when running "brew service start httpd24" without root.

[2016-11-03 21:36] MikeMcQuaid commented on #78
That's because `brew services` is a thin wrapper around `launchctl` which in this case would also report that a plist has been loaded. It's up to the user to debug why it hasn't started; we can't provide a general solution or detection.

[2016-11-04 03:58] edrozenberg commented on #78
Noticed the same issue. I built httpd24 with option "--with-privileged-ports". Running httpd as a regular user does not have permission to use these privileged ports (80/443), so httpd probably gives up and does not start.

[2016-11-04 04:16] edrozenberg commented on #78
Figured out what it takes to run httpd24 as a regular user with ports 8080/8443:

Build without option "--with-privileged-ports"

Edit the config file:
```vim /usr/local/etc/apache2/2.4/httpd.conf```

In the config file, change the listen line to:
``` Listen 8080```

In the config file, set a ServerName:
```ServerName myserver.mynetwork:8080```

Restart the service:
```brew services restart httpd2

[2016-11-08 17:55] alexdunae commented on #66
@MikeMcQuaid same issue for me, here's the output:

[code]

[2016-11-09 03:41] espen commented on #66
I just did a fresh install recently and I don't have that line in my redis.conf

[2016-11-15 06:07] AlekSi opened #82 "brew services hangs"
`brew services list` works as expected. `brew services` just hangs. When I kill it with Ctrl+C it produces two screens of empty lines.

[2016-11-15 08:13] MikeMcQuaid commented on #82
How long did you wait?

Can I see your `brew config`, `brew doctor` and `brew services list` output? Thanks.

[2016-11-15 08:27] AlekSi commented on #82
[code]

[code]

Note that I use released Xcode Version 8.1 (8B62) from App Store:
[code]

[code]

[code]

[2016-11-15 08:28] MikeMcQuaid commented on #82
Run `brew update --force` and see if that updates your `HOMEBREW_VERSION`. If not, follow https://github.com/homebrew/brew#update-bug.

[2016-11-15 08:30] AlekSi commented on #82
I run `brew update --force` before posting above output. And I think I completelery removed and reinstalled homebrew after that bug.

[2016-11-15 08:35] MikeMcQuaid commented on #82
This shows you are not up-to-date. What does `which git` report?

[2016-11-15 08:47] AlekSi commented on #82
It's turned out my homebrew repository (/usr/local/Homebrew, the output of `brew --repo`) was checkout out at `v1.0.2`. Maybe old `brew update` did it? Maybe I did it manually and forgot? After checking out and updating `master` original issue is resolved.

Maybe `brew update` or `brew update --force` should fix it?

[2016-11-15 08:49] MikeMcQuaid commented on #82
Run `brew update --force` afterwards; unless you are contributing to Homebrew you should end up on the `stable` branch rather than `master`.

[2016-11-15 08:51] AlekSi commented on #82
My `origin` is https://github.com/Homebrew/brew, there is no `master`. `brew update --force` did not change anything.

[2016-11-15 08:54] MikeMcQuaid commented on #82
Can I see your `brew config` now, thanks.

[2016-11-15 08:56] AlekSi commented on #82
[code]

[2016-11-15 08:58] MikeMcQuaid commented on #82
Ok. I recommend running `brew update --force` one more time and then you should be all good.

[2016-11-15 08:58] #82 closed

[2016-11-15 09:01] AlekSi commented on #82
[code]

And I'm still on `master` branch. So maybe there is some bug in update mechanism?

But you are right, I'm good now, thank you. 👍

[2016-11-15 09:05] MikeMcQuaid commented on #82
That's fine, it's just figured you're a developer so there's no problem there. Glad you've got it sorted.

[2016-11-15 16:30] chrisantonellis opened #83 "plist files written to /Library/LaunchDaemons are empty"
plist files written to /Library/LaunchDaemons are empty when opened in an editor.
Services start correctly when using ```sudo brew services start <service>``` but plist files are empty, so daemons are not started on reboot.
OSX 10.11.16

[2016-11-15 16:40] MikeMcQuaid commented on #83
Can I see your `brew config`? What service are you starting this way?

[2016-11-16 15:07] chrisantonellis commented on #83
[code]

trying to start the following: **httpd24, rabbitmq, mongodb**

[2016-11-17 16:02] MikeMcQuaid commented on #83
Do they launch without `sudo`? What's the output of `sudo brew services start <service> --debug --verbose`? Thanks!

[2016-11-17 17:37] chrisantonellis commented on #83
[code]

if I ```cat /Library/LaunchDaemons/homebrew.mxcl.mongodb.plist``` i see the file contents, but opening the file via ```nano``` shows an empty file. This is not the case for other files in ```/Library/LaunchDaemons/``` which do show file contents when opened with ```nano```.

I found this issue by investigating why services started by brew services ran fine after running ```brew service sta

[2016-11-17 17:39] MikeMcQuaid commented on #83
This strongly indicates permission issues. `ls -lha /Library/LaunchDaemons/`.

[2016-11-17 17:45] chrisantonellis commented on #83
Yes that was the problem! all homebrew .plist files were created with permission of ```600```. How can I correct or prevent this behavior? If this is my fault, can you speculate on how I screwed up the permissions so I can avoid this in the future?

Thanks very much for your help, it is greatly appreciated!

[2016-11-18 08:28] MikeMcQuaid commented on #83
No permissions are set explicitly so setting the `umask` or fixing the permissions manually afterwards is probably the best bet.

[2016-11-18 08:28] #83 closed

[2016-11-22 23:49] ekmartin opened #84 "No errors for services that aren't installed"
If I'm not completely off it seems like all the commands complete successfully even if the target service isn't installed, as long as it is a valid brew service.

Example (I don't have RabbitMQ installed):
![image](https://cloud.githubusercontent.com/assets/3536982/20546581/18bace0e-b0e4-11e6-8633-1745bc8f4769.png)

`brew services start` successfully creates the `plist`, but it doesn't seem like i

[2016-11-23 07:57] MikeMcQuaid commented on #84
As we just call `launchctl` we can't detect or handle if the application was actually started just that the start attempt was completed.

[2016-11-23 12:31] MikeMcQuaid commented on #84
Ah, I see you mean if it's not installed via Homebrew rather than the plist not being installed.

[2016-11-23 13:27] #84 closed

[2016-12-27 07:15] lacivert opened #92 "How do we see the details if the service shows the state "error""
I installed mysql via brew and I saw that it was working yesterday by list command;

`brew services list`

But today I see that mysql service has the "error" state even though it looks like it works without a problem.

Now how can we see why brew list says there is an error and how do we see the details of this "error" state?

[2016-12-27 07:16] lacivert commented on #92
[code]

[2016-12-27 07:52] ilovezfs commented on #92
You can enable logging of stdout to a file and stderr to a file in the plist with the keys StandardOutPath and StandardErrorPath, which should throw some light on what's happening.

[2016-12-28 05:42] maxadjsky opened #93 "The service mariadb show status 'error',but it works well"
When I type the command `brew services list`,the result of mariadb is :
`mariadb    error   mofeng /Users/mofeng/Library/LaunchAgents/homebrew.mxcl.mariadb.plist`
But when I type `mysql -uroot`,It can login the mariadb server and  work very well.
So why the service show `error`,and how to see details about the error message.Thanks!

[2016-12-28 05:43] maxadjsky commented on #93
the same with the service `dnsmasq`

[2016-12-28 06:11] Mluboroscev commented on #93
+ mysql

`mysql      error   Mluboroscev /Users/Mluboroscev/Library/LaunchAgents/homebrew.mxcl.mysql.plist`

[2016-12-28 11:55] lacivert commented on #92
Thanks @ilovezfs. Sorry about that but I don't know what these are all about on your comment. How can I do that exactly (or how should I search on Google what these all means shortly)?

[2016-12-29 12:28] MikeMcQuaid commented on #93
Closing as duplicate of https://github.com/Homebrew/homebrew-services/issues/92

[2016-12-29 12:28] #93 closed

[2016-12-29 12:29] MikeMcQuaid commented on #92
If a service shows "error" that means that launchd has detected an error since the process was started. It may be still running on your machine, though, but it just means that `launchd` has detected an issue. If it's working fine you can ignore it.

CC @antstorm for additional thoughts/corrections and how we can perhaps adjust this to improve the usability.

[2016-12-29 12:37] antstorm commented on #92
@lacivert so `error` status means one of two things — either `launchd` doesn't have PID of the process or the exit code was non-zero. Both mean that there's something wrong with the service and `launchd` won't be able to handle it properly.

Can you please copy the output of `launchctl list | grep mysql` and `ps aux | grep [m]ysql`?

[2016-12-29 14:31] lacivert commented on #92
@antstorm, un(!)fortunately now mysql looks "started" well without error state, but I'll try to response you if I get the same issue.

[2016-12-29 16:44] antstorm commented on #92
@lacivert oh, I see. Well in case that happens it's worth looking at `launchctl list` to see what exactly is going on.

[2016-12-30 18:45] MikeMcQuaid commented on #92
Closing this as we've got instructions on what to do here.

@antstorm Thoughts about how to expose or document this better? Put an explanation in the README? If so, is that something you could open a PR for? Thanks!

[2016-12-31 11:54] antstorm commented on #92
@MikeMcQuaid yeah, I'll open a PR. Apart from README we can use the `unknown` status (which is slightly more gentle than `error`) when the exit code was `0`, but there's a `pid` missing.

[2016-12-31 17:12] MikeMcQuaid commented on #92
@antstorm Thanks! I reckon a missing pid should also probably just be `started`.

[2017-01-02 12:11] antstorm commented on #92
@MikeMcQuaid not really and a very popular use case here is `redis`. It has `daemonize yes` listed in default settings, which somehow conflicts with `launchd` resulting in it **not** running and:

[code]

This also might try to unsuccessfully restart the service every 10 seconds depending on the settings in `plist`.

[2017-01-02 18:09] MikeMcQuaid commented on #92
@antstorm Thanks for fixing up `redis`. My view is we should save non-`started` for cases where we 100% know it's failed. That means we provide an improvement on the existing `brew services` interface without causing confusion when it's working fine (and just the plist has been misconfigured). I'd agree with making `unknown` be shown if `HOMEBREW_DEVELOPER` is set in the environment, though as tho

[2017-01-02 19:56] antstorm commented on #92
@MikeMcQuaid I think both missing pid and non-zero exit code are good indicators that there's something wrong with the service. `error` might be a bit too harsh, but `started` is as confusing, because probably nothing's running.

I wonder if exposing pid would make a difference in reporting what's happening with the service. It's not for me to decide, but it would be really great to have all the i

[2017-01-02 20:04] MikeMcQuaid commented on #92
Sure. I think the difference is that one indicates a failure in starting and one may just indicate the Homebrew plist has been misconfigured. Given the latter we don't have 100% certainty that the service isn't running I think we should err on the side of maintaining the previous interface for non-Homebrew developers.

More subcommands that wrap `launchctl` would certainly be useful 👍

[2017-01-02 21:03] antstorm commented on #92
@MikeMcQuaid

Not really, if the service simply decided to stop executing (shouldn't normally happen, but still very possible). Missing pid also means that stopping the service with `brew services stop SERVICE` won't actually do anything apart from removing the `plist`. What I'm getting at is that I'd rather know there's something wrong with the services than have to manually check it just to find

[2017-01-02 21:24] MikeMcQuaid commented on #92
Yeh, I think having it be an optional flag for now would be best 👍

[2017-01-03 08:47] lacivert commented on #92
my 5 pennies; it the state is "unknown" for brew, could it be better to see "unknown" when we command "services list"?

[2017-01-06 21:35] dtjm opened #94 "Where do STDOUT/STDERR go?"
Hi,

I'd like to view logs for a service running under brew services. Where do STDOUT and STDERR end up?

[2017-01-07 12:51] MikeMcQuaid commented on #94
This is defined by the plist and `launchctl` rather than `brew services`. Sorry!

[2017-01-07 12:51] #94 closed

[2017-01-09 09:39] uicosp commented on #92
I had the same issue today.
after updated something (brew itself and the formula), my `dnsmasq` and `nginx` show error status, thought everything works well.

[code]

I run `
I debug as @ilovezfs said, but nothing in stdout.log and stderr.log .

Then I read the introduction on [A launchd Tutorial](http://www.launchd.info), and learned that there are several locations to define the job (.plist file

[2017-01-09 09:56] antstorm commented on #92
@uicosp I was able to replicate that behaviour by running a service (`nginx`) as a root and then as other user — it did fail to start a service the second time, while `plist` file was created anyways and thus showing the error.

I wonder if `brew services` should prevent from starting a service if it's already running by a different user…

[2017-01-09 13:30] MikeMcQuaid commented on #92
@antstorm If it's possible to query that as a non-root user: it seems like a good idea.

[2017-01-09 13:57] antstorm commented on #92
@MikeMcQuaid should be possible, because we already do that to show services started as root. That would only rely on the `plist` file's presence though, but still might be worth implementing. WDYT?

[2017-01-09 14:06] MikeMcQuaid commented on #92
@antstorm I agree it's worth implementing. Want to give it a shot?

[2017-01-09 14:52] antstorm commented on #92
@MikeMcQuaid yeah, absolutely

[2017-01-11 21:18] MikeMcQuaid commented on #92
Going to close this because I consider it improved in a few ways.

[2017-01-11 21:18] #92 closed

[2017-01-20 09:47] vedmant opened #98 "Error when running brew services"
I have a huge error report while running brew services starting with "Error: ERROR: Failed to build gem native extension." could you help me? I attached the file
[log.txt](https://github.com/Homebrew/homebrew-services/files/719006/log.txt)

[2017-01-20 10:00] MikeMcQuaid commented on #98
This doesn't seem related to `brew services`. You seem to have issues with your system Ruby, sorry.

[2017-01-20 10:00] #98 closed

[2017-01-20 10:03] vedmant commented on #98
Thanks, for other cases homebrew works fine, just suddenly stopped to work with services.

[2017-01-24 13:32] tfrrft opened #99 "problem"
how can i make my nintendo 3ds a compatible version?

[2017-01-24 13:32] #99 closed

[2017-01-24 14:08] tfrrft opened #100 "DD"
how can i make my nintendo 3ds a compatible version?

[2017-01-24 16:49] #100 closed

[2017-01-25 22:47] dbkaplun opened #101 "Add `brew services logfile $service`"

[2017-01-26 11:22] #101 closed

[2017-01-27 03:01] dbkaplun commented on #101
OK? Was there any reason for closing?

[2017-01-27 08:11] MikeMcQuaid commented on #101
You haven't written any explanation of what you want or why.

[2017-01-28 17:39] dbkaplun commented on #101
@MikeMcQuaid I want a command that will show me the logfile for a given package so I can tail it or grep through it. Does that make sense? Is that doable?

[2017-01-29 16:04] MikeMcQuaid commented on #101
@dbkaplun I don't know whether it's doable or not, it's probably pretty package dependent. We might accept a pull request for this but won't be implementing it ourselves. For future reference please write significantly more verbose issues, thanks.

[2017-01-29 16:14] dbkaplun commented on #101
Thanks @MikeMcQuaid !!

[2017-02-03 01:28] adamwathan opened #102 "`sudo brew services restart` not working when service is stopped"
Having a weird issue lately where services that need to run as root can't be "restarted" if they are stopped; only if they are running.

It shows up as a permissions issue, then claims the services has started, but it hasn't:

![image](https://cloud.githubusercontent.com/assets/4323180/22575849/56d8957e-e986-11e6-9cfd-4838d7ff84ef.png)

`sudo brew services start nginx` will start nginx as root fro

[2017-02-03 01:32] adamwathan commented on #102
Maybe related, but what's the meaning behind the yellow vs. green for the "started" text, and why would `sudo brew services list` show MySQL as stopped, but `brew services list` show it as running?

![image](https://cloud.githubusercontent.com/assets/4323180/22575937/c72835fa-e986-11e6-9156-9b48326accda.png)

The plist locations are sort of interesting as well, the ones listed for the root service

[2017-02-03 15:19] MikeMcQuaid commented on #102
Basically: we've asked it to start but `launchd` doesn't know if it's actually running or not: https://github.com/Homebrew/homebrew-services/blob/463cbe5c064d5e38e18dd90da6104d60b7fb2128/cmd/brew-services.rb#L179-L186. This may point towards a fork and detach model where the original process is no longer running.

I'm pretty sure this message is coming from `launchctl` itself rather than `brew ser

[2017-02-03 15:26] adamwathan commented on #102
Sure, so I guess my main question is what is different about:

[code]

vs. this:

[code]

The first always works reliably regardless of the state the service is in, but the second fails if the service is not running.

Any recommendations on things to look for or read about to try and understand the issue better?

[2017-02-03 15:30] MikeMcQuaid commented on #102
You can check the code to see the exact differences but my guess would be a timing issue. Does `sudo brew services stop nginx; sudo brew services start nginx` (i.e. with no human delay) consistently behave differently?

[2017-02-03 19:11] PeterDKC commented on #102
This is due to the .plist file physically disappearing from either the LaunchAgenst or LaunchDaemons folder when the service isn't up. It only places it in one or the other when the brew services command runs. So the file stat says "Path had bad ownership" because it can't find it.

[code]

[2017-02-06 15:27] drdaz commented on #62
I'm getting this error on a freshly installed VM.

Any ideas? :-/

[2017-02-10 12:37] ultraon opened #104 "Import environment variables"
Hello, is there chance to import environment variables (e.g. ~/.bash_profile) to the application started with "brew services start"?
I spent a lot of time and found it is very big issue for MacOS Sierra.
Thank you.

[2017-02-10 14:56] MikeMcQuaid commented on #104
No, sorry.

[2017-02-10 14:56] #104 closed

[2017-02-10 20:03] tareqak opened #105 "How is the zsh_completion supposed to be used?"
Does it have to be copied manually to `$(brew --prefix)/completions/zsh` e.g. `/usr/local/Homebrew/completions/zsh`? I was thinking it would be automatic once I executed `brew tap homebrew-services`.

[2017-02-10 20:23] MikeMcQuaid commented on #105
It needs to be manually symlinked for now but there's an open PR to work on this https://github.com/Homebrew/brew/pull/1708

[2017-02-10 20:23] #105 closed

[2017-02-10 21:41] tareqak commented on #105
Thanks @MikeMcQuaid!

[2017-02-12 01:00] adamwathan commented on #102
@MikeMcQuaid Sorry for not replying sooner, indeed `sudo brew services stop nginx; sudo brew services start nginx` always works and `sudo brew services restart nginx` never works:

![image](https://cloud.githubusercontent.com/assets/4323180/22858721/6defa23e-f093-11e6-91dd-02ffd2b638d5.png)

[2017-02-12 01:24] jcrben opened #106 "Brew services require reboot to run?"
I noticed today that two services (`kwm` and `syncthing`) required that I reboot the computer to properly run. This is despite the fact that `brew services list` showed them as running. This was also after I also tried to restart them with `brew services restart`. Is this working as designed, since services are run during boot / login? At least `brew services list` should be accurate...

[2017-02-12 13:02] MikeMcQuaid commented on #106
You've not provided enough information here for me to be able to help. I don't know what "properly run" means. If a service is started but doesn't work that's almost certainly up to the upstream software creator rather than homebrew services.

[2017-02-12 13:02] #106 closed

[2017-02-12 18:01] jcrben commented on #106
OK. Basically `brew services list` showed the services as running even though they were not. I believe that they did not show up as running processes when checking with `ps -ef` either.

They did work perfectly after a reboot..

[2017-02-23 11:23] #102 closed

[2017-02-23 12:51] adamwathan commented on #102
🙌🏻 Thanks Mike!

[2017-02-23 14:37] MikeMcQuaid commented on #102
@adamwathan My pleasure. Thanks for the great report and persistency in the face of my initial (wrong) assumptions 😆

[2017-03-11 17:18] pgrippi opened #108 "Can no longer use sudo to manage tasks"
A recent update to homebrew seems to prevent the use of any `sudo brew` command. I get this when trying to restart httpd24:

[code]

[2017-03-11 17:32] ilovezfs commented on #108
What does
[code]
do?

[2017-03-11 18:01] pgrippi commented on #108
I have apache set to listen on port 80 which is why I need root to run it. I also have dnsmasq running as root and I have the same problem with it

Sent from my iPhone

[2017-03-11 18:30] MikeMcQuaid commented on #108
You typed `services` wrong.

[2017-03-11 18:30] #108 closed

[2017-03-12 16:00] designt opened #109 "Services restart issue"
Hello,
I follow this guide and when I restart all services are working, including dnsmasq.

https://blog.frd.mn/install-nginx-php-fpm-mysql-and-phpmyadmin-on-os-x-mavericks-using-homebrew/

I have a issue but I don´t now if it is related withhomebrew-services or my setup.

~# sudo brew services list
Name       Status  User    Plist
dnsmasq    started root    /Library/LaunchDaemons/homebrew.mxcl.dn

[2017-04-02 03:51] johnhawkinson opened #111 "services start does not detect Invalid property list error"
First cut on a formula that installs a plist, and it seems that `brew services start` runs `launchctl load -w` (isn't that deprecated?) and declares success based on `launchctl's` exit status, but ignores errors sent to stderr:

[code]

[code]

[2017-04-02 08:55] MikeMcQuaid commented on #111
How else would you suggest detecting success or failure?

[2017-04-02 12:29] johnhawkinson commented on #111
Any way you want / Any way that works? The end result needs to be not claiming success when the invoked command fails, otherwise there's a bug. You can't rely on the exit status of a command that doesn't set it.

The obvious choice is to check stderr for success or error indications.

Another choice is to be agnostic and claim neither success nor failure (but that would only seem right if there's

[2017-04-02 15:12] MikeMcQuaid commented on #111
`brew services list` looks at more information provided by `launchd`. `brew services` in general is just a thin wrapper around `launchd` and Homebrew's `plist` blocks.

I don't know how to improve this so I'm unfortunately closing this as not actionable from my perspective. If you disagree, please submit PRs to improve this and we can discuss those changes.

[2017-04-02 15:12] #111 closed

[2017-04-02 15:13] johnhawkinson commented on #111
What's wrong with looking at stderr?

[2017-04-02 15:26] MikeMcQuaid commented on #111
I'm still not sure what you're proposing; what `stderr` should constitute success/failure?

[2017-04-02 15:34] johnhawkinson commented on #111
Under the normal success condition, there is no `stderr` output. So probably the most general thing to do is check for any `stderr` output at all, and then throw an error if it is present.

In the alternative, you could check for `stderr` output that corresponds to known common errors, e.g.  matching "Invalid property list" and some other black(white?)list. [I don't know what other errors happen o

[2017-04-02 15:53] johnhawkinson commented on #111
Also, for what it's worth:

This seems to have been discussed in https://github.com/Homebrew/legacy-homebrew/issues/33259 although I don't understand the resolution and why it was closed. But I found https://babodee.wordpress.com/2016/04/09/launchctl-2-0-syntax/ instructive. It appears that

[code]

is equivalent to

[code]

except that it actually returns an exit status. So deliberately frotzing

[2017-04-02 16:00] MikeMcQuaid commented on #111
Basically: it wasn't a blocking issue and may provide additional functionality for us but works similarly as-is.

That seems like a good idea. My concern is that it may limit the backwards compatibility of `brew services` but 10.10 and above seems fine at this point.

[2017-04-02 17:45] johnhawkinson commented on #111
Should I be filing another Issue here, given that this is closed but also a "good idea"?

---

**Tangent**: While looking into this, I was very confused by the fact that `brew services list` reported a service as "started" even when it was not running:

[code]

after some source-diving, I find that actually it is manipulating the result:
[code]

Because of https://github.com/Homebrew/homebrew-serv

[2017-04-03 13:46] MikeMcQuaid commented on #111
We tend to close issues that no maintainers are planning on working on. We'd consider accepting a PR which doesn't require an open issue in our process (I realise other projects differ).

We have other tools which parse `brew services` output and would be broken by this change.

The best fixes for these cases are to fix the upstream formula plist so detection is handled correctly.

[2017-04-03 16:43] johnhawkinson commented on #111
Oh, I didn't realize no maintainers were planning on working the issue. I had proposed two straightforward solutions to the problem and you closed the PR saying "I don't know how to improve this," which I found very confusing. I presumed you closed it because you thought the proposed solutions were not viable (I don't know why), not because you thought it was not worth doing. After closure I found

[2017-04-03 17:50] MikeMcQuaid commented on #111
That may be the case in other projects but it's not on this one.

I think I misunderstood you. There's the `root` case and there's the case where formulae detach and fork which means `launchd` can't keep track of their success/failure. That case should be fixed in formulae.

This sounds like a good idea we'd review a PR for.

Similarly this sounds like a good idea we'd review a PR for.

[2017-04-08 18:44] johnhawkinson opened #113 "services list thinks Cellar ownership defines process runner"
I notice that if I start a service as myself, `brew services list` claims that it is running as root (!):

[code]

It appears to be because of this [code](https://github.com/Homebrew/homebrew-services/blob/e02fbadb456a52b66fd43f0a23d413a803f1250b/cmd/brew-services.rb#L51-L54):

[code]
Can anyone explain this behavior?

Perhaps there is something wrong with my Homebrew installation for having `/usr

[2017-04-08 18:52] johnhawkinson commented on #113
I guess this code dates from @lwe's initial work in 2010 in https://github.com/Homebrew/legacy-homebrew/pull/3422. Lukas, do you have any thoughts?

[2017-04-09 18:23] MikeMcQuaid commented on #113
Yeh, that's not the default that the installer or updater will configure for you and although `brew doctor` may not complain it'd be something we'd tell you to change on a `brew update`. I'd suggest the best fix for this would be just to add a code comment to `brew services` to explain why this is the way it is. I don't think end user documentation needs changed until it's clear more people were c

[2017-04-09 18:41] johnhawkinson commented on #113
Well, regardless of whether /usr/local/Cellar should be owned by a non-root user, something's wrong here. The ownership of that directory doesn't determine which user a LaunchAgent is run on. And what about multi-user systems? (They are not super rare) Claiming daemons are running as user1 when they're really running as user2 is no good.

I don't understand what this code is supposed to be doing.

[2017-04-09 18:51] lwe commented on #113
@johnhawkinson, not sure this is still the best way to handle it IMO. It was mainly to ensure that it's always the "correct" user running the service, i.e. the one owning Homebrew. Otherwise some services (can't remember which, I guess e.g. MySQL) did have issues starting up, because /usr/local/var/mysql was owned by a different user for example. This was especially in combination with running it

[2017-04-09 18:59] johnhawkinson commented on #113
Hrmm. So, of course I noticed this in `brew services list`, which it presumes that this is the user running the service. That's very different from choosing the user to start the service. Although, I'm a little confused about that, see `user` being used in that way? The code is a little hard for me to follow, though.

[2017-04-09 19:00] lwe commented on #113
Yeah, just checked the code and `user` has IMO no effect, in fact also `UserName` keys are removed so... it should have zero effect.

[2017-04-09 19:10] lwe commented on #113
@johnhawkinson, just to clarify that `user` was basically a crutch added back then so that `UserName` was properly set when running the service on startup (in `/Library/`).

Now since a63079af5c1a282c139fa66aa7b313c54e25cdde it was changed to always get rid of `UserName`, so it currently has no function at all and also the `user` method has no use from what I can understand.

This begs the questio

[2017-04-09 19:45] johnhawkinson commented on #113
I am not sure. It does work properly for services run as root (e.g. my private fork of `ntp`).
The `dbus` formula doesn't seem to work quite right for me, but `dbus` is a complicated piece of software so I haven't looked into it. And the last time I ran `selenium-server` it broke my browser and required a reboot, so I don't want to touch that.

What's an example of a formula with a daemonized serv

[2017-04-10 06:11] lwe commented on #113
I'd say good examples are databases like PostgreSQL or MySQL, which have a) rather strict permission settings and b) usually are owned by a specific non-root user. Will check when I'm back from work too and see if I can start postgres at system startup...

[code]

[2017-04-10 06:13] johnhawkinson commented on #113
Those are pretty heavyweight for a simple test case (and require configuration, etc.)

[2017-04-10 06:22] lwe commented on #113
Mhhh, true, these are simply the ones that come into my mind... What I can offer you is that I'll check with postgres when I'm back from work.

[2017-04-11 18:52] lwe commented on #113
Okay, from what I can see running services like MySQL or Postgres as root via `sudo brew services start $FORMULA` is broken in the current version of `brew services`. Tested it locally for me with postgresql.

### Reasons

1. Some services are not even allowed to run as root, e.g. postgres fails to start as root.
2. Due to change in a63079af5c1a282c139fa66aa7b313c54e25cdde there is no `UserName` a

[2017-04-12 00:10] johnhawkinson commented on #113
So, the reasons you offer don't support the conclusion you derive from them.

That is, **some** services can't run as root, and there is **no `Username`**, therefore you say that "running as `sudo` is **broken**."

But for services that can run as root, it works just fine (which I suspect are the majority? My suspicion is based on no data.). Or at least, that's what my `ntp` example shows me (You'

[2017-04-12 21:16] lwe commented on #113
True, I guess it depends on the services one is running, and that's hard to tell. From my PoV - as a user that mostly runs databases - the sudo mode is not really usable at the moment.

Maybe show a disclaimer when running with sudo:

_Warning: Not all services are supported running at system start (or root) YMMV_

[2017-04-13 01:20] johnhawkinson commented on #113
I'm still a little confused. If the issue is that `mysql` is supposed to run as a particular user, then the supplied plist should either have the username key or it should `su` or otherwise `setuid()` to the proper user. If the plist doesn't do these things, and the program is not functional when run as root, this is a bug in the plist and/or the Homebrew recipe, not in the `brew services` infrast

[2017-04-17 14:30] MikeMcQuaid commented on #113
We support running as two users: the user `brew services` is run as and `root` when it's run with `sudo`. Any leftover logic for other cases can be killed.

[2017-04-18 04:07] yaohuiwu opened #114 "Calling Formula.md5 is disabled"
Run the command 'brew services list' on mac, it shows:

Error: Calling Formula.md5 is disabled!
Use Formula.sha256 instead.
/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services/cmd/brew-services.rb:85:in `available_services'
Please report this to the homebrew/services tap!

[2017-04-18 06:43] MikeMcQuaid commented on #114
You need to `brew update`.

[2017-04-18 06:43] #114 closed

[2017-04-19 06:06] lwe commented on #113
👍 makes sense, in addition I'd suggest to add a short notice / info somewhere about the supported cases.

[2017-04-23 11:40] aheckler opened #115 "Warning: Calling Tty.white is deprecated!"
Running `brew services list` shows me this error:

[code]

Couldn't find an existing report of this anywhere.

[2017-04-23 12:39] #115 closed

[2017-04-24 12:35] #113 closed

[2017-05-22 07:44] vfonic opened #118 "Any way to uninstall a service?"
From the docs (emphasis mine):

`$ brew help services`:

How do I uninstall/unload/unregister the service that's registered with launchctl through brew services command?

Thanks!

[2017-05-23 09:31] jbernardo95 commented on #118
This make 2 of us, any way to unregister a service to start on login via `brew services` ?

[2017-05-23 09:38] jbernardo95 commented on #118
After messing around with commands I was able to do it, but don't really know if what just because I ran `brew services stop <service_name>` or because I ran `brew services stop <service_name>` followed by `brew services cleanup`, but one of them worked for me.

I think this should be more clear in the documentation.

[2017-05-24 09:35] MikeMcQuaid commented on #118
Does `brew services stop` do what you want it to do? What are you trying to achieve here?

[2017-05-24 09:44] vfonic commented on #118
@MikeMcQuaid actually I think it does, but the documentation made me think it doesn't.

I thought `brew services start` "installs" (in launchctl) and "starts" (now) the service, and `brew services stop` "stops" (now) the service.

I'd phrase it differently. Here's my suggestion:

...or something similar.

[2017-05-24 09:47] MikeMcQuaid commented on #118
@vfonic Can you also answer this question please: what are you trying to achieve here?

[2017-05-24 09:52] vfonic commented on #118
@MikeMcQuaid sure.

I wanted to stop httpd24 from running and also from starting at login. I ran `brew services stop httpd24` and wasn't sure if it was unregistered/uninstalled/removed from launchctl. I read the `brew services` usage (by running `brew help services`, and was convinced that it **doesn't** unregister.

Now I'm sure it does: https://github.com/vfonic/homebrew-services/blob/85eb980fc5

[2017-05-24 09:53] vfonic commented on #118
https://github.com/Homebrew/homebrew-services/pull/119

[2017-05-24 09:53] MikeMcQuaid commented on #118
@vfonic Thanks!

[2017-05-24 10:03] #118 closed

[2017-06-02 19:05] hyperknot opened #121 "/usr/local/var/log directory broken"
On a brand new, clean (`rm -rf /usr/local`) homebrew install the services log directory is broken.

1. It does not have execute bit, so it is not possible to enter it, unless with sudo:

[code]

2. It is owned by `root:admin`

=> as a result, no service can ever log anything in there.

A fix on my system was to

[code]

I don't know what is the proper fix, in terms of what should be the right user

[2017-06-02 19:12] hyperknot commented on #121
You can reproduce the broken directory, by
1. stopping all services
2. deleting the folder via sudo
3. starting a service

[2017-06-02 20:32] MikeMcQuaid commented on #121
This isn't a fix that can be made in homebrew-services; it's required for individual formulae to ensure this directory is created if it's used in the `plist`.

[2017-06-02 20:32] #121 closed

[2017-06-07 20:48] diegueus9 opened #122 "Service respawn when I use 'brew services run formula'"
I was trying to configure virtualenv and brew to activate the service at the same time I activate the environment, but I tried `brew services run memcached` and now the process respawn.

What I did?
`brew services run memcached`
`brew services stop memcached`

What did I expect?
After the second command above I expected the output of `brew services list` to be:
[code]
Instead of that:
[code]

I go

[2017-06-08 11:47] pavelrad commented on #122
Have the same issue. Consider the following:
[code]
As you can see after stopping a service is still running but with another `plist`. And it will stay running until the next reboot/relogin. Several weeks ago this problem did not exist.
I'm using OS X 10.10.5 and Homebrew is up-to-date.

[2017-06-09 06:21] MikeMcQuaid commented on #122
Thanks, @pavelrad.

@diegueus9 What version of macOS/OS X are you using?

[2017-06-09 06:23] MikeMcQuaid commented on #122
@pavelrad Just to be explicit: `brew services run` doesn't work as expected but `brew services start` does?

[2017-06-09 06:52] pavelrad commented on #122
@MikeMcQuaid I haven't tried `run` command, I always use `start` command.

[2017-06-09 06:53] pavelrad commented on #122
So to be explicit: `brew services stop` doesn't work as expected. It doesn't stop running services.

[2017-06-09 06:56] MikeMcQuaid commented on #122
@pavelrad Ok, that's a different issue then.

[2017-06-09 16:14] diegueus9 commented on #122
@MikeMcQuaid
[code]

@pavelrad `brew services stop` doesn't work after `brew services run` but it does work after `brew services start`

[2017-06-10 15:52] #122 closed

[2017-06-12 08:36] pavelrad commented on #122
@MikeMcQuaid looks like the issue is still there:
[code]

[2017-06-12 14:42] MikeMcQuaid commented on #122
@pavelrad As I mentioned: you do not have the same issue as you're not using `run`. Please open a new issue describing step-by-step reproduction instructions and your `brew config`
@diegueus9 If you still have the same problem when using `run`: let me know with step-by-step reproduction instructions.

[2017-06-12 15:12] pavelrad opened #124 "'stop' command doesn`t stop services"
**Steps to reproduce:**
- start some service with `brew services start formula` command
- check that service is running
- stop started service with `brew services stop formula` command

**Actual result:** service is still running but with another plist (check `brew services ls` output).

**Expected result:** service is stopped.

I'm using OS X 10.10.5 with up-to-date Homebrew. I also tried to repr

[2017-06-12 15:17] pavelrad commented on #122
Created #124.

[2017-06-13 02:00] rconn01 commented on #124
I also just started seeing this after a recent upgrade

[code]

[2017-06-15 02:18] sodbileg opened #125 "Removing a service from the list"
Is there any way of removing a service from the list of services? For example,

I have 3 services which were started with `brew services start SERVICE_NAME` and I stopped one of them with `brew services stop SERVICE_NAME`. Now I have 3 services like below.

Service 1 - started
Service 2 - started
Service 3 - stopped

How can I remove Service 3 from the list even though it was stopped?

[2017-06-15 07:05] MikeMcQuaid commented on #125
Did you try `brew services stop` again?

[2017-06-15 07:08] sodbileg commented on #125
I just tried `brew services top SERVICE3` again and getting an error below.

`Error: Service `SERVICE3` is not started.`

Then I run `brew services list` again and the service is still there.

[2017-06-15 07:16] MikeMcQuaid commented on #125
Use `launchctl unload` manually on the `.plist`.

[2017-06-15 07:16] #125 closed

[2017-06-15 07:30] sodbileg commented on #125
Just tried this and it's the same. Also isn't `brew services stop` doing `launchctl unload .plist` in the background? https://github.com/vfonic/homebrew-services/blob/85eb980fc556f8c790a4744af148257733a196b7/cmd/brew-services.rb#L329

What I'm trying to achieve is removing a stopped service from the list.

[2017-06-15 08:57] sodbileg commented on #125
@pavelrad thanks for your reply. I didn't expect it to remove. The actual question was there actually a way to remove a service from the list.

[2017-06-16 13:06] MikeMcQuaid commented on #125
@sodbileg Try `brew cleanup`

[2017-06-16 13:08] MikeMcQuaid commented on #125
@sodbileg Apologies, `brew services cleanup`

[2017-06-16 14:22] pavelrad commented on #124
I've investigated a bit and found something that might help.
When starting a service via `start` command it has a plist file located in $HOME dir:
[code]
When starting a service via `run` command it has plist in /usr/local dir:
[code]
The same plist file is listed in `services ls` output when I stop a service started with `start` command. Homebrew unable to stop such a service, but it can be stopp

[2017-06-16 14:43] MikeMcQuaid commented on #124
@pavelrad I don't have a 10.10 system handy to test this with so I may need to work with you to get a fix.

My suspicion is:
https://github.com/Homebrew/homebrew-services/blob/master/cmd/brew-services.rb#L335

Can you change the `quiet_system` to a `system`  and add a `puts "exit code: #{$CHILD_STATUS.to_i}` above that line and then show me the output when it fails to stop? I suspect I need to che

[2017-06-16 14:51] pavelrad commented on #124
[code]

[2017-06-16 14:57] MikeMcQuaid commented on #124
Oh good grief.

Can you try `reset`ing back to `master` and change all occurrences of `bootout` with `unbootstrap`?

[2017-06-16 15:02] pavelrad commented on #124
Didn't help :(
[code]

[2017-06-16 15:02] pavelrad commented on #124
I've change `quite_system` to `system` and got:
[code]

[2017-06-16 15:03] pavelrad commented on #124
[code]

[2017-06-16 15:13] MikeMcQuaid commented on #124
Haha, brilliant. Ok, a PR coming up.

[2017-06-17 08:04] #124 closed

[2017-06-25 23:41] rezashamdani commented on #78
thanks @edrozenberg , that's works for me too

[2017-08-03 21:10] jhertz opened #129 "postgre doesnt start correctly if pidfile is there, and brew services doesnt see it"
if postgre didn't cleanup correctly (i.e. it crashed, or the system crashed), it will leave a lockfile in place, which will stop postgre from starting up next time. however, brew services doesnt detect that, and will incorrectly view postgre as running, despite it failing to run.

specifically, if the `/usr/local/var/postgres/postmaster.pid` file is still present, postgre will fail when trying to

[2017-08-05 14:17] MikeMcQuaid commented on #129
Nothing we can really do about this, I'm afraid, `postgresql` knowledge isn't baked into `brew services`. If there's something generic we can do better: we'll accept a pull request. Sorry!

[2017-08-05 14:17] #129 closed

[2017-08-10 08:58] I159 commented on #118
`brew services stop <formula>`
`brew uninstall <formula>`

`services` is not about uninstalling or installing, use `brew` itself to uninstall formula which used as a service.

[2017-08-11 17:49] staceymosier commented on #78
edrozenberg's solution to switch from port 80 to 8080 works for me, also,  however I'm not sure why my vhost sites have stopped working on 80 from 2 days ago.

my system.log console shows:
(homebrew.mxcl.httpd24[373]): Service exited with abnormal code: 1

curl -I -L localhost
curl: (7) Failed to connect to localhost port 80: Connection refused

curl -I -L localhost:8080
HTTP/1.1 200 OK

[2017-08-16 13:28] herrernst opened #130 "`run` not working with `sudo`: "Path had bad ownership/permissions""
I'd like to start dnsmasq without enabling on reboot, but it fails:
[code]
(running it with `start` works)

[2017-08-23 17:27] MikeMcQuaid commented on #130
Does this apply for only `dnsmasq` or anything else? Can you try this with other formulae that use `sudo` and other formulae that don't. Thanks!

[2017-08-24 07:49] herrernst commented on #130
Also happens with e.g. nginx:
[code]

[2017-08-24 10:09] MikeMcQuaid commented on #130
What happens if you try `brew services run nginx`? What's your `brew doctor` output? Please answer each of my questions each time if you want me to help you, thanks.

[2017-08-24 10:38] herrernst commented on #130
Works:
[code]

[code]
(I've force-linked node@6 on purpose.)

----

I think it's a permission/ownership problem when the service is not installed/enabled.
[code]
Works because `/usr/local/opt/nginx/homebrew.mxcl.nginx.plist` is belongs to user.

----

[code]
Doesn't work because executing user is root (or system) and `/usr/local/opt/nginx/homebrew.mxcl.nginx.plist` still belongs to user.

----

[c

[2017-08-26 13:13] MikeMcQuaid commented on #130
Gotcha, thanks. I'm not sure how to solve this; `sudo brew services run` will need to copy the file somewhere owned by root but `/Library/LaunchDaemons` won't work as it will mean it'll run again on startup. Thoughts?

[2017-08-29 09:50] MikeMcQuaid commented on #130
@herrernst Thoughts?

[2017-08-29 09:52] herrernst commented on #130
Unfortunately I cannot think of a proper solution to this neither.

[2017-08-29 09:58] MikeMcQuaid commented on #130
Ok, thanks.

[2017-08-31 07:32] Maples7 opened #131 "Warning: Calling fails_with :llvm is deprecated!"
When I run `brew services list`, a few warnings occurs here:

[code]

How can I stop the warning?

[2017-08-31 08:17] MikeMcQuaid commented on #131
Figure out which formula you have installed is using these deprecated methods and uninstall it.

[2017-08-31 08:17] #131 closed

[2017-08-31 08:46] Maples7 commented on #131
@MikeMcQuaid Problem solved! Thx! :D

[2017-09-04 18:37] MikeMcQuaid commented on #130
Opened a PR in https://github.com/Homebrew/homebrew-services/pull/132 to improve the error message here but I'm afraid I can't think of (or manage to implement) a better solution than this right now. If someone else want to give it a go: they are welcome.

[2017-09-04 19:37] #130 closed

[2017-09-05 10:18] herrernst commented on #130
Thanks

[2017-09-08 04:51] aprofromindia opened #133 "brew remove start service"
How can I remove a 'started' service, such that I can 'run' it but it doesn't get started please?

[2017-09-08 08:06] MikeMcQuaid commented on #133
`brew services stop; brew services run`

[2017-09-08 08:06] #133 closed

[2017-09-10 07:16] andmej opened #134 "Running `brew services restart mysql` logs me out of my"

[2017-09-10 08:58] MikeMcQuaid commented on #134
This is not intended but I can't reproduce it here, I'm afraid. Is this just the case with MySQL or any other services? Has this always happened or has it started happened recently? Does this happen for anyone else you know on El Capitan?

[2017-09-11 01:24] abetsagaral commented on #102
mysql.server start

[2017-09-11 06:29] JCount commented on #102
@adamwathan Please to not comment on long closed issues. If you have a problem, open a new issue rather than comment on ancient ones.

[2017-09-12 07:05] willywang commented on #134
I have the same problem, Not only mysql but also mongo. And it happened everytime when I execute
`brew services restart|stop mysql|mongodb`.
PS: my os version is also El Capitan, home brew 1.3.1

[2017-09-22 19:28] MikeMcQuaid commented on #134
This may be an El Capitan-specific bug.

[2017-10-02 21:36] glenjamin opened #135 "Root permissions check misreports the inverse case"
See the below console snippet for an example

I'm guessing there's a check for uid of process != uid of command, but it assumes this means the command is user mode even when it's actually root.

[code]

[2017-10-06 14:20] #135 closed

[2017-10-13 15:54] hyperhtml commented on #134
I've had the same issue with mysql and nginx.

I too am on El Capitan.

[2017-10-16 12:17] qukankan opened #137 "Use Formula.sha256 instead problem"
![image](https://user-images.githubusercontent.com/3842940/31611499-99c3a062-b27c-11e7-8498-967af0572160.png)

I think i have the newest version but still get the "Use Formula.sha256 instead" error msg, pls take a look, thx.

[2017-10-18 09:30] MikeMcQuaid commented on #137
The error message is wrong here; this will be with one of your formulae in your taps. Run `brew readall` to figure out which.

[2017-10-18 09:30] #137 closed

[2017-10-18 09:40] haroldrandom commented on #131
@Maples7 How do you fix it?

[2017-10-18 09:43] Maples7 commented on #131
@haroldrandom just as @MikeMcQuaid said, uninstall bad useless formulas.

[2017-10-18 09:46] qukankan commented on #137
![image](https://user-images.githubusercontent.com/3842940/31711794-99451728-b3f9-11e7-953d-4f0625bfaaa6.png)

thx for answer, but with command "readall" i can't get more information. How can i check the next step?

[2017-10-18 10:13] MikeMcQuaid commented on #137
Try to run `brew info --installed`.

[2017-10-18 13:38] qukankan commented on #137
[code]

Looks like no more useful hints. It's time to delete brew completely in my pc and reinstall it?

[2017-10-18 14:01] ilovezfs commented on #137
@qukankan what's the output of `grep -r "sha1 " /usr/local`

[2017-10-18 15:14] qukankan commented on #137
Thx @ilovezfs
It's almost 3k lines @_@. Since it's failed when i call "brew services list", is there any other way to check out brew services. I think this can help to locate the problem taps.

[result.txt](https://github.com/Homebrew/homebrew-services/files/1395157/result.txt)

[2017-10-18 15:54] ilovezfs commented on #137
I'm not seeing any use of sha1 in there. What happens if you
[code]

[2017-10-19 07:24] qukankan commented on #137
yes, fund the reason:

`
/usr/local/Homebrew/Library/Homebrew/brew.rb (Formulary::TapLoader): loading /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core/Formula/openssl.rb
/usr/local/Homebrew/Library/Homebrew/brew.rb (Formulary::FormulaLoader): loading /Users/gaok/Library/Caches/Homebrew/Formula/panamax.rb
Error: Calling Formula.sha1 is disabled!
Use Formula.sha256 instead.
/usr/local/Homebre

[2017-10-19 08:42] ilovezfs commented on #137
@qukankan you're welcome!

[2017-10-22 21:50] gurgeous opened #138 "bash completion"
It would be great to add bash completion. Here's the hack I'm using, just in case this is useful for anyone else. I suck at bash, sorry...

[code]

[2017-10-24 09:11] MikeMcQuaid commented on #134
@andmej @willywang @hyperhtml can you all post your `brew config` and `brew doctor` output.

[2017-10-24 09:19] ilovezfs commented on #134
I cannot reproduce this issue:
[code]
No logout triggered.

[2017-10-24 09:30] MikeMcQuaid commented on #138
@gurgeous Could you submit a pull request to add something like this to the `completions/bash` directory? Thanks!

[2017-10-24 09:30] #138 closed

[2017-10-24 14:05] hyperhtml commented on #134
**brew config**
[code]

**brew doctor**
[code]

[2017-10-24 14:48] MikeMcQuaid commented on #134
@hyperhtml Can you `brew update` and update your Xcode and try again?

[2017-11-05 14:11] amyspark opened #141 "Bash completion breaks Homebrew tests"
Since commit https://github.com/Homebrew/homebrew-services/commit/c4ccddf2f635122599c759c87813f95da2488828 , all Travis builds fail because of `brew tests`:
[code]

[2017-11-05 14:20] MikeMcQuaid commented on #141
Thanks for the issue but this is in progress in https://github.com/Homebrew/brew/pull/3424; please check out open PRs to check these sort of things aren't already in progress.

[2017-11-05 14:44] MikeMcQuaid commented on #141
Fixed in https://github.com/Homebrew/brew/pull/3424.

[2017-11-05 14:44] #141 closed

[2017-11-06 08:27] shacharz opened #142 "allow passing parameters to the service"
I'd like to run a formula with certain parameters, I can't do it via brew services since it won't pass params to the formula.

[2017-11-06 08:41] MikeMcQuaid commented on #142
Yes, this is unsupported.

[2017-11-06 08:41] #142 closed

[2017-11-07 10:32] bitdivine commented on #80
If someone were to write a list of the standard verbs for service management systems I am pretty sure that status would be in the list of core verbs, right alongside start and stop.  I appreciate that from your perspective this is already covered but insofar as a language is an interface between a human and a computer and a language is better for communicating well with the human, I think that sup

[2017-11-10 09:59] 74sharlock opened #143 "Is there any way to start a service with args?"
I tried:
<code>brew services start mongodb --auth</code>

but that arg <code>--auth</code> didn't work.

[2017-11-10 10:16] ilovezfs commented on #143
customized arguments aren't supported. you'd need to put it in the plist

[2017-11-10 10:16] #143 closed

[2017-11-10 17:54] MikeMcQuaid commented on #80
@bitdivine Sorry, we disagree.

[2017-11-14 15:13] DeadZen commented on #134
brew services stop grafana logs me out and doesn't stop grafana...

[2017-11-14 16:59] MikeMcQuaid commented on #134
We do not have enough information to work on this issue.

[2017-11-14 16:59] MikeMcQuaid commented on #134
I'd suggest someone affected create a pull request.

[2017-11-20 08:50] pmutua commented on #11
I have this problem on my linux OS:
[code]

How do I fix this issue from the logs?

[2017-11-20 08:51] ilovezfs commented on #11
This is Homebrew not Linuxbrew.

[2017-11-21 18:44] 9130khz opened #144 "brew services start not actually starting services in High Sierra"
Running a clean install of brew on a clean install of High Sierra. Tried with both MySQL and MariaDB.

Running `sudo brew services start` will say that it is starting MySQL/MariaDB, and `[sudo] brew services list` will report its status as "started", but mysqld will not actually be running. I can successfully "stop" the service with sudo, but a start/restart will report success but again, not star

[2017-11-22 21:14] MikeMcQuaid commented on #144
This is the issue and it's with `launchctl` rather than `brew services` so we can't do anything about it, sorry.

[2017-11-22 21:14] #144 closed

[2017-11-28 07:16] alisajidcs commented on #134
I am facing the same issue. brew services reload and brew services stop is logging me out, and  there is no way that i can stop any of my brew services.
I am using OS X El Capitan.

[2017-11-30 09:52] MikeMcQuaid commented on #134
Yes, multiple people are facing the same issue: it is not helpful to add that you are also experiencing it. If people have additional information as to what the problem is or e.g. what line of `brew services` is causing this and ideally can work on a PR to fix it that's useful information. Otherwise: please don't add additional comments here.

[2017-11-30 15:17] DeadZen commented on #134
Ideally you'd ask for more input. I would as I am sure others would respond
with more information if you specified what it was you wanted to gather.
This is the proper place for comments regarding an improper software
function. Let me make it clear this is a major defect. No one should of
added services that function in this manner, now the cats out of the bag
crapping on everyones computer and pr

[2017-11-30 15:21] MikeMcQuaid commented on #134
I do not know what to ask for as we cannot reproduce this issue.

It's up to the Homebrew maintainers to decide what comments we want and don't want here, sorry.

No, this is simply not the case. It's not even happening to all El Capitan users let alone all `brew services` users.

This not is not how open source works. The license for this software states it's available "as is" i.e. with any bugs

[2017-11-30 15:29] DeadZen commented on #134
Lol so we're a select group of unlucky users.

I know how Open Source works Sir. I am on El Capitan and not Sierra, which
just recently exposed a huge secuity issue with the login prompt. Open
Source is where that kind of b.s doesn't happen as badly. The license
excludes being litigated as to the perfect function but the Software is
checked more, quality is higher, people have more integrity. That

[2017-11-30 15:42] MikeMcQuaid commented on #134
Yes.

You do not seem to know how the Homebrew project works.

That was High Sierra not Sierra.

Please do.

[2017-12-16 09:51] Anahkiasen opened #145 "Sort services alphabetically in `services ls`?"
This is a very small QoL thing but as someone who has multiple versions of PHP installed, I always have to do a double take to locate the one I want in the list:

[code]

Would it be feasible to add a small flag to the `list` command that returns the services alphabetically as such?

[code]

This looks much clearer to me and easier to skim through. Would love for this to be an option 🙏
Out of curi

[2017-12-19 09:18] MikeMcQuaid commented on #145
This seems like a good idea.

[2018-01-10 17:45] jedhassell commented on #144
@9130khz Were you ever able to find a solution for this? I'm having a similar issue.

[2018-01-20 19:57] m-o-e opened #147 "Warning: Calling 'depends_on :hg' is deprecated!"
`brew services list` gives me the following warning:

Use 'depends_on "mercurial"' instead.
/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services/cmd/brew-services.rb:86:in `available_services'
Please report this to the homebrew/services tap!

[2018-01-20 20:02] MikeMcQuaid commented on #147
what's the full output of that command for you as well as `brew list` and `brew tap`? Thanks!

[2018-01-20 20:21] m-o-e commented on #147
[code]

[code]
[code]

[2018-01-20 21:17] ilovezfs commented on #147
What's the output of
[code]

[2018-01-20 21:34] m-o-e commented on #147
Interesting!

[code]

So it was unrelated to _brew-services_ after all.
`brew uninstall ngrok` fixed it for me.

Thanks for helping and sorry for the noise!
(I just followed the on-screen instructions ¯\\\_(ツ)\_/¯)

[2018-01-20 21:34] #147 closed

[2018-01-22 15:20] 9130khz commented on #144
@jedhassell Unfortunately not yet, i've just given into manually starting the database after a reboot

[2018-01-22 23:15] cwalston opened #148 "brew services Warning: Calling 'depends_on :python3' is deprecated!"
Hi - For the past few days, 'brew doctor' and 'brew services list' have been coughing up
warnings that 'brew upgrade/update' seem not to have fixed:

==> Warning: Calling 'depends_on :python3' is deprecated!
    Use 'depends_on "python3"' instead.

Warnings from 'brew upgrade/update' & 'brew services list' point to two locations,

/usr/local/Homebrew/Library/Homebrew/dependency_collector.rb:88:in

[2018-01-24 10:26] MikeMcQuaid commented on #148
If you `brew update` to Homebrew 1.5.2 this should now be fixed. Shout if it is not.

[2018-01-24 10:26] #148 closed

[2018-01-25 05:07] cwalston commented on #148
Mike and everyone - Thanks a ton; looks fine now!
Onward,
~cw

On Wed, Jan 24, 2018 at 2:26 AM, Mike McQuaid <notifications@github.com>
wrote:

--
*~ Memento Amori*

[2018-02-17 06:45] JettTeixeira commented on #134
I have the same problem with El Capitan 10.11.3.

That's happened with all services. I can not bring more information because it simply disconnects without saying anything.

But in my terminal puts:

Last login: Sat Feb 17 01:22:21 on console
Restored session: Sat Feb 17 01:21:52 PET 2018

I hope maybe gets a solution in this new year ^^!  Maybe if we use a previous version of services can be poss

[2018-02-17 06:56] JettTeixeira opened #150 "Logout when restart or stop a service"
Hello:

When I run `brew services restart ***` or `brew services stop ***` I'm logged out of my Mac.

El Capitan 10.11.3

**brew -v**
[code]

**brew config**
[code]

**brew doctor**
[code]

This is my first time using brew services. So if there is a way for stop, restart, start a service with another command thats gonna be a lot of help!

If I can do something else to help, I'll do it!

Thanks!

[2018-02-17 07:00] ilovezfs commented on #150
This is a duplicate of https://github.com/Homebrew/homebrew-services/issues/134. If you can figure out what's going on and how to fix it with a PR that would be great, but none of us have yet found a way to reproduce it so I'm closing this like the other one.

[2018-02-17 07:00] #150 closed

[2018-02-17 07:07] JettTeixeira commented on #150
Do you know how I can try to reproduce without formatting my Mac?

As a extra, in **httpd** service I found it in:

[code]

So, if I do:

[code]

Works well!

[2018-02-17 08:06] MikeMcQuaid commented on #150
@JettTeixeira Edit the code so it writes instructions to the Terminal which is redirected to disk (or just write data to disk) for each command that `brew services` runs so you can try to identify which one is the problematic line. This will necessitate you being logged out once for testing purposes but if you can tell us what the problematic line is then we can work at fixing this issue.

[2018-02-20 15:27] whalesalad commented on #115
I am also experiencing the same issue.

[code]

[2018-03-01 09:58] ihorvorotnov opened #151 "Controlling services in bulk or better/flexible --all behavior"
The discussion started [here](https://github.com/Homebrew/homebrew-core/issues/24654).

Currently, you can only start|stop|reload services one by one or all of them at once with `--all` flag. However, in some cases, you need finer control.

For example, now PHP migrated to homebrew/core and comes with Apache as a dependency. I'm using Nginx instead of Apache, and have a lot of other related servic

[2018-03-01 23:00] claui commented on #151
This may not be helpful at all but inspired by this discussion, I’ve hacked together a [really crude one-off prototype](https://github.com/claui/homebrew-services-bulk) for a lightweight implementation of presets.

It uses one custom formula per preset, runs with homebrew-services as-is, and requires nothing else. Because it’s just a formula, it also auto-detects the dependencies.

**Usage:**

[2018-03-02 11:07] ihorvorotnov commented on #151
Thank you @claui, I'll give it a shot soon. Looks promising!

[2018-03-05 09:22] MikeMcQuaid commented on #151
This is a good idea, thanks for the detailed write up @ihorvorotnov!

[2018-03-05 12:01] steinmb commented on #151
Do not make any sense to me too keep Apache as a dependency. As mention above. People might run Nginx, no use for a web server OR they use PHP built in web server. Do not forget that MacOS already ship with Apache installed that work flawlessly with homebrew php-versions.

[2018-03-05 15:06] MikeMcQuaid commented on #151
@steinmb Your comment was completely unrelated to this repository. The other thread was locked for a reason.

[2018-03-05 19:48] steinmb commented on #151
@MikeMcQuaid Thank you for getting back to me, though deleting comments is to me a unusual way of treating other developers. Ended up there because other issues got closed and linked in here. Should I create a separate issue regarding the dependency issue?

[2018-03-05 19:56] MikeMcQuaid commented on #151
@steinmb No, we are not interested in more discussion of that issue or of Homebrew's moderation policy with non-maintainers or non-contributors (particularly when Homebrew's maintainers are currently being barraged with personal abuse).

[2018-03-06 09:14] jiacai2050 opened #152 "-bash: /usr/local/etc/bash_completion.d/_brew_services: No such file or directory"
This error happen when I open iTerm2, don't remember what I have done, but surely I didn't delete this file.

[2018-03-06 09:16] #152 closed

[2018-03-06 09:16] MikeMcQuaid commented on #152
It was renamed: https://github.com/Homebrew/homebrew-services/tree/master/completions/bash

[2018-03-06 19:25] MikeMcQuaid commented on #151
`httpd` will not be installed any more if you use the bottle: https://github.com/Homebrew/homebrew-core/pull/24907

[2018-03-06 19:25] #151 closed

[2018-03-18 19:21] vitaprimo commented on #144
I was having the same issue and the answer was actually in these posts, since it appears to be user related and brew cannot be run as root, then run it with _sudo_.

[code]

I hope this helps somebody. :)

[2018-03-20 12:39] jhansche commented on #152
For everyone else who's wondering how Mike's super helpful comment/link transforms into an actual solution:

    $ ls -l /usr/local/etc/bash_completion.d/*brew*
    lrwxr-xr-x  1 jhansche  admin  85 Nov 11 11:28 /usr/local/etc/bash_completion.d/_brew_services -> ../../Homebrew/Library/Taps/homebrew/homebrew-services/completions/bash/_brew_services
    lrwxr-xr-x  1 jhansche  admin  36 Oct  5 10:32

[2018-03-20 13:26] jhansche commented on #152
@MikeMcQuaid a little of both? :)
Code of Conduct noted, and comment updated to be more productive.

To clarify: just saying that it was renamed does not solve the problem. It did however point me in the right direction to fix it myself. The point I'm trying to make is that just because it was renamed does not mean that it's not a bug. The bug is that the update process did not automatically fix t

[2018-03-20 13:54] MikeMcQuaid commented on #152
That was my goal 😉.

Thanks 👍

[2018-03-21 21:50] hawkingsteven opened #157 "brew install root fails"
Hello I downloaded the root file but for some reason it failed again

[szakirov@localhost ~]$ brew install root
==> Downloading https://root.cern.ch/download/root_v6.12.06.source.tar.gz
Already downloaded: /home/szakirov/.cache/Homebrew/root-6.12.06.tar.gz
Error: No libpythonX.Y.{a,dylib} file found!

I ran brew doctor and I dont think anything is messing with the install

[szakirov@localhost ~]$

[2018-03-22 00:21] #157 closed

[2018-04-05 17:08] DrOzturk opened #158 "Failed to connect to github.com port 443"
Hi,
     Why am I receiving this?
(I have internet, and github is not down...)

$ brew services cleanup
==> Tapping homebrew/services
Cloning into '/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services'...
fatal: unable to access 'https://github.com/Homebrew/homebrew-services/': Failed to connect to github.com port 443: Operation timed out
**Error: Failure while executing: git clone https://

[2018-04-05 17:38] MikeMcQuaid commented on #158
You'll need to figure that out yourself I'm afraid.

[2018-04-05 17:38] #158 closed

[2018-04-05 17:47] DrOzturk opened #159 "Failed to connect to github.com port 443: Operation timed out"
Hi,
    Why do you think, I have this error.
I have internet, and github service is not down.

==> Tapping homebrew/services
Cloning into '/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services'...
fatal: unable to access 'https://github.com/Homebrew/homebrew-services/': Failed to connect to github.com port 443: Operation timed out
Error: Failure while executing: git clone https://github.com/

[2018-04-05 18:52] MikeMcQuaid commented on #159
Don't create multiple identical issues: https://github.com/Homebrew/homebrew-services/issues/158

[2018-04-05 18:52] #159 closed

[2018-04-08 00:57] ykessler commented on #150
Updating El Capitan from **10.11.4** to **10.11.6** solved this issue for me.

[2018-05-03 07:04] MikeMcQuaid commented on #145
Fixed by https://github.com/Homebrew/homebrew-services/pull/160.

[2018-05-03 07:04] #145 closed

[2018-05-10 05:55] wj5346599 commented on #134
I have the same problem, Not only mysql but also nginx.
PS: my os version is also El Capitan, home brew 1.6

[2018-05-10 14:40] MikeMcQuaid commented on #134
Don't comment on this thread saying you have the same problem. We get that people have the same problem but we don't know how to fix this.

[2018-05-23 20:29] DeadWisdom commented on #134
I was on El Captain 10.11.2 and had this error.  Upgraded to 10.11.6, and it is gone.  Looks like an deep OS error that Homebrew has little chance to fix or debug.

[2018-05-24 11:08] Jonathan-Abrahams commented on #157
@hawkingsteven What was your solution?

[2018-05-26 15:32] hawkingsteven commented on #157
My solution was to uninstall homebrew and do a manual installation with the python you want to use for your software set to default.

[2018-06-06 20:59] oniofchaos opened #162 "Error: NaN when trying to do brew services list"
[code]

[2018-06-06 21:04] oniofchaos commented on #162
Did a `brew install x` and that updated homebrew which ended up fixing this problem.

[2018-06-06 21:04] #162 closed

[2018-06-11 09:20] UnnikrishnanBhargavakurup commented on #66
Hi,

If i run the redis in command line it's working but not from brew.

`/usr/local/opt/redis/bin/redis-server /usr/local/etc/redis.conf
20046:C 11 Jun 14:48:20.446 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
20046:C 11 Jun 14:48:20.447 # Redis version=4.0.9, bits=64, commit=00000000, modified=0, pid=20046, just started
20046:C 11 Jun 14:48:20.447 # Configuration loaded
20046:M 11 Jun 14:48:2

[2018-06-25 12:09] TMorville opened #163 "Failure while executing: load -w /home/tmo/Library/LaunchAgents/homebrew.mxcl.x.plist"
Trying to load any service with ``brew services start x`` yields above error. E.g.

[code]
``brew update``&& ``brew doctor`` returns ``Your system is ready to brew.``. If I run the service from terminal, e.g. by calling ``elasticsearch`` boots up fine, and a subsequent ``brew services list`` shows that elasticsearch is running. However, ``brew services stop elasticsearch`` does not work (same erro

[2018-06-25 12:11] TMorville commented on #163
Aaand I just realised I am on brew and not linuxbrew.

[2018-06-25 12:11] #163 closed

[2018-07-05 00:11] benlk opened #164 "running `brew services start dnsmasq` reports success erroneously when starting dnsmasq fails"
tl;dr: if a service exits with abnormal code 3 and then respawns, shouldn't it throw up an error in `brew services list` or in the output from `brew service restart` and `brew service start`?

**Note:** if this can't be reproduced in supported versions of OSX, it should be closed. This issue was experienced on an unsupported version of OSX> Replication notes are at the end of this ticket; replicat

[2018-07-05 06:45] MikeMcQuaid commented on #164
If you set `HOMEBREW_DEVELOPER` is the output more what you'd expect from `brew services list`?

[2018-07-05 17:45] MikeMcQuaid commented on #164
It's confusing because basically `unknown` typically means "either something is broken or the `.plist` for your application needs adjusted to follow the correct process ID. I'm definitely open to accepting pull requests to fix bad plists, read from the log or print better information when the service hasn't been started correctly but my previous attempts have failed to make these better than what

[2018-07-05 17:45] #164 closed

[2018-07-17 13:56] Bodemon opened #165 "when i run "brew services start mongodb" ，mongo client command does not take effect"
in ~ λ  :    brew services list
Name        Status       User    Plist
mongodb    started   root    /Library/LaunchDaemons/homebrew.mxcl.mongodb.plist

it's started  !
run  "ps -ef | grep  mongo "
it's nothing?

but
use   "sudo mongod"
then  "mongo"
it's OK

Is my configuration problem yet?

[2018-07-17 14:01] MikeMcQuaid commented on #165
It's a configuration problem on your end. "Started" means "we've started the daemon" not that it's currently running.

[2018-07-17 14:01] #165 closed

[2018-07-19 07:08] Bodemon commented on #165
Oh，I see
very  thanks

[2018-07-24 05:08] kirankotari opened #166 "Unable to view port numbers of started services"
Hey,

I am trying to see the port number where my started services, but I am able to see Name, Status, User, and Plist.

Please guide me if I need to change any settings. I didn't found any document for that.
I am assuming this might be new request.

    $brew services list
    Name          Status  User             Plist

[2018-07-24 06:02] MikeMcQuaid commented on #166
Sorry this isn’t something we support.

[2018-07-24 06:02] #166 closed

[2018-08-21 13:12] jasonkarns opened #168 "Feature request: document the meaning of different colors from `list`"
I'm getting two different colors for "started" services from `brew services list`, but I don't see any indication about what to different colors mean (or which is which).

Could the colors be documented in the `--help` output? Ideally using the colors themselves, since the actual visual color may not match the word color, depending on terminal themes, etc.

![image](https://user-images.githubuserc

[2018-08-25 04:08] jeffreydwalter opened #169 "Re: Issue #144 - MySQL not starting with sudo."
@MikeMcQuaid @9130khz, just wanted to revive [issue 144](https://github.com/Homebrew/homebrew-services/issues/144) because I just hit upon it and found a way to work around it:

I came across [this article](http://digitalhygiene.com/2014/05/09/start-mysql-as-a-daemon-on-os-x-mavericks-on-boot/) for running MySQL via brew and it worked for me.

It seems like the problem is not just "`launchctl` rat

[2018-08-25 08:44] MikeMcQuaid commented on #169
@jeffreydwalter I've unlocked that issue so you can comment ehre.

[2018-08-25 08:44] #169 closed

[2018-08-25 15:29] jeffreydwalter commented on #169
Mike, I laid out the whole thing here. I'm not going to retype it. Please
feel free to fix brew services.

Cheers.

On Sat, Aug 25, 2018, 3:44 AM Mike McQuaid <notifications@github.com> wrote:

[2018-08-25 16:50] MikeMcQuaid commented on #169
@jeffreydwalter This bug doesn't affect me so: no, you should feel free to fix it. If you can't be bothered to copy and paste: so be it. Please do not revive closed and locked issues in future unless you want to submit a pull request to fix them.

[2018-08-25 19:53] jeffreydwalter opened #170 "Re: #169 & #144 - Thanks for being a prick @MikeMcQuaid!"
Hey @MikeMcQuaid, fuck you asshole. :)

You managed to lock both issue genius... If you didn't lock the first issue I wouldn't have had to revive it jerk-off. I don't use your shitty brew services, I just happen to come across the Github issue while working on my own shit, and wanted to be helpful, unlike yourself. You hold yourself out to be some champion of open-source software (I read your shit

[2018-08-25 22:03] #170 closed

[2018-09-30 18:46] sanketdhoble opened #173 "brew services start elasticsearch not working with latest macOS 10.14 (mojave)."
Gives error :
 `brew services restart elasticsearch
/Users/sanketd/Library/LaunchAgents/homebrew.mxcl.elasticsearch.plist: service already loaded
Error: Failure while executing; `/bin/launchctl bootstrap gui/789103748 /Users/sanketd/Library/LaunchAgents/homebrew.mxcl.elasticsearch.plist` exited with 133.`

[2018-09-30 18:53] MikeMcQuaid commented on #173
Have you tried restarting your machine? What's your `brew services list` and `brew config` and `brew doctor` output?

[2018-09-30 18:59] sanketdhoble commented on #173
Thanks alot, restart worked like a charm.

[2018-09-30 19:28] #173 closed

[2018-11-02 09:31] jvigne commented on #152
You can also run a ` brew doctor` to get all broken links then run a `brew prune` to remove them

[2018-12-11 22:51] gapple commented on #168
Would it make sense to separately report whether a service is 'enabled' and 'running'?

[code]

[2018-12-12 09:04] MikeMcQuaid commented on #168
@gapple At this stage there's various applications relying on the output being how it is and that would break them so I don't think it's worth the change, unfortunately. We could consider adding a new subcommand to output a similar format.

[2018-12-28 08:19] runofthemill opened #177 "Can't start mariadb with "brew services start mariadb""
When trying to start `mariadb` via launchd:

[code]

`sudo brew services start mariadb` works fine, as does `mysql.server start`. The plist doesn't exist in `~/Library/LaunchAgents`, and it's the only folder in `~/Library/` aside from `Spotlight` that is owned by `root` instead of the user, but I don't think it's a permissions issue, as there's a plist file for virtualbox that was added (today) vi

[2018-12-28 09:10] MikeMcQuaid commented on #177
It is a permissions issue you’ll need to fix yourself.

[2018-12-28 09:10] #177 closed

[2018-12-28 19:48] runofthemill commented on #177
@MikeMcQuaid any suggestions on what I should look into? As I mentioned, VirtualBox updated yesterday by `brew cask` was able to add a plist file to that folder without issue, so it would seem like a more nuanced issue than just folder permissions. Thanks!

[2018-12-28 21:47] MikeMcQuaid commented on #177
It is a permissions issue. You need to chown that directory back to your user and possibly chmod it correctly.

[2019-02-12 22:42] vfonic opened #182 "Feature request: Please change "yellow" started to "unknown" for everyone"
Hi,

I'm aware that I can set `HOMEBREW_DEVELOPER` to get "unknown" for...well, for unknown service status. I believe this should be the default for everyone even without the `HOMEBREW_DEVELOPER` flag.

I only found out about the `HOMEBREW_DEVELOPER` flag after digging through the issues here:
https://github.com/Homebrew/homebrew-services/issues/168
https://github.com/Homebrew/brew/issues/3227

Wh

[2019-02-13 12:46] MikeMcQuaid commented on #182
We need to figure out how to mitigate that.

This repository does not make releases.

I'm open to a PR that adjusts this and provides a solution to backwards compatibility concerns or continuing discussion here but closing for now.

[2019-02-13 12:46] #182 closed

[2019-03-18 12:32] Joellidin opened #184 "brew services shows inactive processes"
I recently installed `skhd` and `chunkwm` but had problems with `brew services start` where I got errors like this:
[code]
I got around that problem by copying the file and running `launchctl load ~/Library/LaunchAgents/homebrew.mxcl.chunkwm.plist`. Now when running `brew services list` I got:
[code]
However when running `unload` I get the same output as above when running `brew services list`. I

[2019-03-18 14:18] MikeMcQuaid commented on #184
This isn't a bug with `brew services`, sorry. Our Discourse (https://discourse.brew.sh) may be better place to ask such questions.

[2019-04-15 15:19] #184 closed

[2019-04-20 18:09] jackkeck opened #186 "Brew Services Not Updating With Fresh `mongod.conf`"
**Problem**
After updating the `mongod.conf` file to include new parameters, `brew services [stop/start/restart] mongodb-community@4.0" does not pick up the new version of `mongod.conf`.

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">While playing with <a href="https://twitter.com/MongoDB?ref_src=twsrc%5Etfw">@MongoDB</a> locally, I used <a href="https://twitter.com/MacHo

[2019-04-22 20:05] MikeMcQuaid commented on #186
Sorry, there's not enough information here to figure out what your problem is.

To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

[2019-04-22 20:05] #186 closed

[2019-06-07 14:28] torarnv opened #190 "One formula one service"
Right now a single formula can’t have multiple services. And a foo.rb can’t have two formulas both depending on the same bottles or source archives, which would allow a single “formula” to have sub formulas for each service. Is there any plan to address this? See eg the icecream formula for an example. Thanks!

[2019-06-07 14:59] MikeMcQuaid commented on #190
There's some work on this but it's stalled: https://github.com/Homebrew/brew/pull/5695

It would need changes in Homebrew/brew and Homebrew/homebrew-core.

[2019-06-07 14:59] #190 closed

[2019-07-07 07:49] minkyn opened #192 "Run multiple plists under one formula"
I'd like to run multiple commands when `brew services start <formula>`. Putting all commands under one <Program> of the same plist works but not perfect.

Is it possible to add a new plist with different label name under that formula's directory, and then `brew services start` would `launchd` them all?

[2019-07-07 08:50] MikeMcQuaid commented on #192
You can specify a plist path to `brew services`. The last discussion on adding multiple plists to Homebrew was in https://github.com/Homebrew/brew/issues/5691.

[2019-07-07 08:50] #192 closed

[2019-07-07 09:06] minkyn commented on #192
Adding "-c" to specify a custom plist doesn't work, because you cannot `brew services start` the same formula twice with different plists.

I didn't catch the result from the previous discussion. Was the answer a _no_ for supportability?

[2019-07-17 19:36] nbunneysky opened #193 "Trying to Tap but getting 400 error"
~ $ brew doctor
Your system is ready to brew.
~ $ brew -v
Homebrew 2.1.7
Homebrew/homebrew-core (git revision e64f; last commit 2019-07-17)
Homebrew/homebrew-cask (git revision c2852; last commit 2019-07-17)
~ $ brew tap homebrew/services 
==> Tapping homebrew/services 
Cloning into '/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services '...
fatal: unable to access 'https://github.com/Homebr

[2019-07-17 19:42] nbunneysky commented on #193
Thought it was permissions related but it is not best I can tell....

[2019-07-17 19:46] nbunneysky commented on #193
Interesting it worked this way instead....
~ $ brew services start mysql 
==> Tapping homebrew/services
Cloning into '/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 12 (delta 0), reused 7 (delta 0), pack-reused 0
Unpacking objects: 100%

[2019-07-17 20:07] MikeMcQuaid commented on #193
You'll need to figure this out yourself as both issues are with your setup.

[2019-07-17 20:07] #193 closed

[2019-08-13 04:08] schemacs opened #194 "brew services list show wrong status"
I have two mysql services, `mysql` and `mysql@5.7`, both are running ok, but `brew services list ` shows `started` in yellow for `mysql` (yellow means unknown status).

[code]

I found the code for detecting status is buggy, or we should not use `launchctl list` for this?

https://github.com/Homebrew/homebrew-services/blob/0ce2f592dc22bce1b4aa2268c6dc416fe131abb2/cmd/brew-services.rb#L506

[code]

[2019-08-13 04:13] schemacs commented on #194
BTW, should we use `unknown`/`started` instead of yellow/green `started` for status?

[2019-08-13 07:26] #194 closed

[2019-09-16 23:40] Lyken17 opened #198 "How to register a service that is managed by homebrew?"
For example, the brew service for shadowsocks-libev is

`~/Library/LaunchAgents/homebrew.mxcl.shadowsocks-libev.plist`

[code]

I want to make a second service (with different configuration) and register to homebrew service. I modified the content and then move to

`~/Library/LaunchAgents/homebrew.mxcl.shadowsocks-libev-2.plist`

[code]

But it does not show in `brew service list` neither can be r

[2019-09-17 07:26] MikeMcQuaid commented on #198
It needs to be part of a formula.

Instead, just use `launchctl` directly.

[2019-09-17 07:26] #198 closed

[2019-12-09 21:45] bryceml opened #202 "running sudo brew services gives a traceback and doesn't work."
When I run:
[code]
I get:
[code]

There is similar output for start as well.

[2019-12-10 12:17] MikeMcQuaid commented on #202
@bryceml That's not a formula in Homebrew/core and it has invalid syntax that needs to be fixed for `brew services` to work correctly. I will close this with a pull request that will handle this error but you need to report this to wherever you got that formula from.

[2019-12-10 12:40] #202 closed

[2020-02-03 07:55] dr1s opened #206 "brew services - Unknown command: services"
The latest [commit](https://github.com/Homebrew/homebrew-services/commit/693e4bbf06b0bef91bd65d3c3b57af6ce59c0388) breaks `brew services` for me.

Reverting `/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services` to this [commit](https://github.com/Homebrew/homebrew-services/tree/fbfa39a451f33d8960ee94c6e48b167016a1d5aa) made it work again,

[2020-02-03 08:18] LioraLevy commented on #206
same issue for me

[2020-02-03 08:18] MikeMcQuaid commented on #206
What is your `brew config` output?

[2020-02-03 08:21] MikeMcQuaid commented on #206
Run `brew update` this is now fixed by a new Homebrew/brew tag.

[2020-02-03 08:21] #206 closed

[2020-02-07 03:36] LYJSPEEDX commented on #206
This error still occurred on Macos 10.15.3.
I have untap the homebrew/services repository and retap it, and then what shown in console proved the existence of issue.
I have update homebrew to lastest version.
<img width="724" alt="service" src="https://user-images.githubusercontent.com/26499797/73998922-07a2ed80-499e-11ea-9322-7ebdbf42945f.png">

[2020-02-07 03:38] LYJSPEEDX opened #208 "brew services - Unknown command: services still exist on Macos 10.15.3"
[s](https://github.com/Homebrew/homebrew-services/issues/206#issuecomment-583219256)

[2020-02-07 03:44] LYJSPEEDX opened #209 "services - Unknown command: services still exist on MacOS 10.15.3"
**This error still occurred on MacOS 10.15.3.**
I have untap the homebrew/services repository and retap it, and then what shown in console proved the existence of issue.
I have update homebrew to lastest version. And I also follow the [revert instruction](https://github.com/Homebrew/homebrew-services/issues/206#issue-558905341)here, but it not works for me.

`brew services` worked perfectly proper

[2020-02-07 03:44] #208 closed

[2020-02-07 09:06] yang00 commented on #209
I have this problem, too. But  after I  run 'brew update' in terminal ,  'brew services' just work well. The last version was 'Updated Homebrew from a1939cfe7 to f144f6317'...

[2020-02-07 12:09] MikeMcQuaid commented on #209
Please do not duplicate closed issues that are not locked.

[2020-02-07 12:09] #209 closed

[2020-02-07 12:09] MikeMcQuaid commented on #206
@LYJSPEEDX You need to `brew update`. If that's not working: post your `brew config` here.

[2020-02-08 02:43] LYJSPEEDX commented on #206
I have updated brew. Proved to be not working.
![image](https://user-images.githubusercontent.com/26499797/74077972-bb1fe680-4a5f-11ea-91af-b5b92b88c01a.png)

[2020-02-08 19:16] MikeMcQuaid commented on #206
@LYJSPEEDX Run `brew update-reset`, there's something wrong with your Homebrew. "Last commit: 6 months ago" should have been a clue.

[2020-02-09 13:53] hitao123 commented on #206
same issue for me

[2020-02-11 03:46] LYJSPEEDX commented on #206
@MikeMcQuaid It works! My gratitude is beyond expression, thank U!

[2020-03-06 20:12] michaelblyons opened #212 "Adding completions"
I notice that you're the only [external commands](https://docs.brew.sh/External-Commands) tap with completions. Is this a thing that other taps can do, too?

https://github.com/Homebrew/homebrew-services/blob/70bb37228cd73f3bdc30b971217fbdf0800e22ac/completions/bash/brew-services#L25-L35

Looking at the code above, it seems like only one tap gets to be the "special" one to use itself instead of `_

[2020-03-07 13:22] MikeMcQuaid commented on #212
Yep.

Beyond that, I'm not sure what you're asking/how this is actionable.

[2020-03-07 13:22] #212 closed

[2020-03-07 16:57] michaelblyons commented on #212
Let me expand a little bit to see if I can make my question more clear:

If I make a tap that adds `brew foo`, and I do what you're doing here, I think it will _break_ completion for `brew services`...

[code]

I could do something like this to add `brew services` completions back in:

[code]

but if I add yet a third tap with `brew baz`, its completion function needs to know about all tapped comp

[2020-03-07 17:00] MikeMcQuaid commented on #212
Sorry, don't know. Try it and see!

[2020-04-02 17:49] alexweissman opened #215 "Fatal errors in starting nginx do not get detected/shown by brew services"
When I ran `brew services start nginx`, I would get a message saying that the service had been successfully started. This was also reflected in the output of `brew services list`. However when I checked my running processes, there was no sign of `nginx` actually running. Even more baffling, if I ran `sudo brew services start nginx`, then the `nginx` process _would_ finally appear.

What I finally

[2020-04-02 18:14] MikeMcQuaid commented on #215
No, not really, sorry. `brew services` is a thin wrapper around `launchctl` and it does not provide that information.

[2020-04-02 18:14] #215 closed

[2020-04-02 19:47] alexweissman commented on #215
Do you have an alternative suggestion for where this could be implemented, then? It's a real UX issue at the moment.

[2020-04-03 07:43] MikeMcQuaid commented on #215
We're aware of that. If there was easy solutions: we'd have done them. We'll review PRs to make the situation better.

[2020-04-09 10:59] evileyecc1 opened #216 "Can't use any sub command in brew services"
Try use any command but get an error.Can't search any releated question about it.

Error:
[code]

[2020-04-09 11:06] MikeMcQuaid commented on #216
`brew update --force` and try again. If that doesn't work: `brew update-reset` and try again.

[2020-04-09 11:06] #216 closed

[2020-04-30 05:30] setu4993 opened #218 "brew services error when running brew bundle dump"
I am seeing this error when time I try to run `brew bundle dump` or `brew services`

[2020-04-30 05:34] setu4993 commented on #218
Results from `brew config`, in case it helps:
[code]

[2020-04-30 07:52] #218 closed

[2020-04-30 07:52] MikeMcQuaid commented on #218
To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

[2020-04-30 07:55] setu4993 commented on #218
I was trying to run `brew bundle dump`, and saw the warning. I then tried running `brew services` to see what services were running, and saw the same warning (and no list).

I just started seeing this yesterday, before which everything both `bundle` and `services` worked without warnings.

[2020-04-30 07:56] MikeMcQuaid commented on #218
Sorry, nothing has changed here in the last day, something must have changed on your machine. You'll need to figure that out yourself.

[2020-04-30 08:02] setu4993 commented on #218
Probably, but what could be wrong given that that is the error message I'm seeing? I do not run / use any services from homebrew. What are possible troubleshooting steps I can take?

[2020-04-30 08:05] MikeMcQuaid commented on #218
You will need to figure out the rest yourself.

[2020-04-30 08:52] MikeMcQuaid commented on #218
@setu4993 Please don't just 👎 my comments, it's rude. You have not submitted any information here that I can possibly use to debug your issues or help you in any way. You're asking me for help: it's your job, not mine, to provide the necessary information I need to help you solve your problem.

[2020-04-30 09:04] setu4993 commented on #218
@MikeMcQuaid : Sorry, but your reply was not helpful and definitely curt. I understand your point, but I shared all of the details that I had including the fact that it started appearing out of nowhere while nothing (from the homebrew perspective) had changed about my environment or machine. Also, this is the first time I have opened an issue on any of the homebrew repos, I looked at other issues

[2020-04-30 09:33] MikeMcQuaid commented on #218
Sorry, it is a fair response. You're using software run by volunteers in their free time. I'd suggest reading https://mikemcquaid.com/2018/03/19/open-source-maintainers-owe-you-nothing/ before opening bug reports on other repositories.

[2020-05-01 15:39] schribl opened #219 "Starting services as root with first argument "sh" does not work"
**What did I try:**
I wanted to start `node_exporter` as root to start it on boot time.
`sudo brew services start node_exporter`
**What did I expect:**
Node exporter started and added to services started at boot and running.
**What happend:**
`Error: No such file or directory @ realpath_rec - <cwd>/sh`
**What I did to debug this issue:**
I created the file that was missing by `touch` and then saw

[2020-05-01 15:50] MikeMcQuaid commented on #219
Would love you to try: you understand your problem and I can help you with bad Ruby for sure!

[2020-05-01 15:51] MikeMcQuaid commented on #219
I think the formula is weird, for sure. Does it work as non-root?

[2020-05-02 12:06] schribl commented on #219
I tested it as a normal user and it works fine for me. As root the error is reproducible. I checked some documentation and created a PR. I added my fork as remote and tested my changes with normal user and root and it worked as expected for me.

[2020-05-03 13:06] #219 closed

[2020-05-23 14:35] jabenninghoff opened #224 "lib/service uses deprecated Formula#installed"
**What you were trying to do (and why)**
running `brew bundle check --global` to verify installed formulae and casks

**What happened**
receiving a warning multiple times:
[code]
the command did otherwise complete successfully

**What you expected to happen**
no warnings.

**Step-by-step reproduction instructions (with as minimal input data as possible)**
[code]

This should be easy to fix; I just

[2020-05-23 18:01] #224 closed

[2020-05-23 18:41] jabenninghoff commented on #224
Thanks @MikeMcQuaid !

[2020-05-23 18:42] MikeMcQuaid commented on #224
You're welcome, thanks for the report!

[2020-06-22 21:17] fuatkarakus opened #239 "Consul start script parameters"
**Expected Behavior**
When start consul with `brew services start consul` the consul key-value storage should be persist.
**Actual Behavior**
Consul KV stores is not persist because `brew services start consul` run with `-dev` parameter default in `homebrew.mxcl.consul.plist` file.

Could you please remove the `-dev` parameter from default ?

[2020-06-23 12:24] MikeMcQuaid commented on #239
Please submit a PR to homebrew-core to do that. Thanks!

[2020-06-23 12:24] #239 closed

[2020-08-03 04:43] phpjungle opened #251 "Error: undefined method `named' for #<OptionParser:0x00007fce6d2a6258>"
$ brew services list
Error: undefined method `named' for #<OptionParser:0x00007fce6d2a6258>
/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services/lib/services_cli.rb:65:in `run!'
/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services/cmd/services.rb:48:in `services'
/usr/local/Homebrew/Library/Homebrew/brew.rb:110:in `<main>'

[2020-08-03 06:21] phpjungle commented on #251
I reinstall homebrew , ok is now 😁

[2020-08-03 06:21] #251 closed

[2020-08-05 07:19] raoxb opened #252 "how to fix this when use brew services list?"
Error: undefined method `named' for #<OptionParser:0x00007ff4c02f0be0>
/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services/lib/services_cli.rb:65:in `run!'
/usr/local/Homebrew/Library/Taps/homebrew/homebrew-services/cmd/services.rb:48:in `services'
/usr/local/Homebrew/Library/Homebrew/brew.rb:103:in `<main>'

[2020-08-05 08:25] MikeMcQuaid commented on #252
Run `brew update`.

[2020-08-05 08:25] #252 closed

[2020-08-16 14:11] andyzimmerer opened #259 "Homebrew services"

[2020-08-16 14:12] andyzimmerer commented on #259
Yea

[2020-08-17 08:28] #259 closed

[2020-11-06 07:16] brfrth opened #275 "Wrong service status reported for services with KeepAlive parameter"
I am running the `spotifyd` service as defined [here](https://github.com/Homebrew/homebrew-core/blob/master/Formula/spotifyd.rb). When I boot my PC I need to connect to a VPN in order to gain internet access, I know this. The service definition contains KeepAlive, which will restart the service when it fails. This is exactly what I want, I'm fine with it failing, since I know it will restart. It's

[2020-11-06 09:44] MikeMcQuaid commented on #275
Thanks for spelling this out clearly, I've wondered about this for a while and with your explanation a fix was pretty easy in https://github.com/Homebrew/homebrew-services/pull/276 (which stops my `brew services` from showing `error` on `mysql@5.7` which is running fine 😅).

[2020-11-06 11:17] #275 closed

[2020-11-20 17:42] alindeman opened #279 "Restart service on upgrade?"
Is it possible to have a `homebrew-services`-managed service restart automatically when the formula is upgraded, if it's already been previously started/enabled by the user?

I have noticed that deleted (e.g., upgraded) binaries can no longer `fork` on macOS, so upgrading a background service that occasionally executes other processes breaks after `brew upgrade <formula>`. Right now I'm instructin

[2020-11-23 08:11] MikeMcQuaid commented on #279
I think the main issue with this is that if there's e.g. configuration changes this may break the server that's running.

`brew bundle` can accomplish this for you.

Will keep our eye out for more requests for this and consider it if we see more demand. Sorry!

[2020-11-23 08:11] #279 closed

[2020-12-03 22:36] bjarn opened #284 "Brew restart thinks service already started"
**Description**
When restarting a service, e.g. `brew services restart redis`, it thinks the service is already running after it has been stopped. This causes the service to not start again.
It happens for Nginx, Elasticsearch, MySQL and Redis as far as I am aware.

**Device**
Macbook Pro 16" running Big Sur 11.1 Beta (also happened when I was on 11.0.1)

**How to reproduce**
1. Install Redis
2. S

[2020-12-04 10:24] #284 closed

[2020-12-04 10:29] bjarn commented on #284
Thanks, that was quick! 👍

[2020-12-05 09:37] jburdy opened #286 "Environment variables remplacement failed"
Hi,
With:
`sudo brew services start XXX` we lose the environment variables ? See my post concerning telegraf.
https://github.com/influxdata/telegraf/issues/8484
Thanks for your help.

[2020-12-07 14:55] MikeMcQuaid commented on #286
I don't know what you're asking, sorry.

[2020-12-07 14:55] #286 closed

[2020-12-07 19:39] jburdy commented on #286
We cannot use environment variables in the configuration of "[telegraf](https://formulae.brew.sh/formula/telegraf)" if we go through "brew services" to launch its service.

Is there a notion of virtual environment with "brew services" ? Who would hide the environment variables?

The simple example of the "${USER}" in the default config doesn't work.

[2020-12-08 16:20] MikeMcQuaid commented on #286
Yes, perhaps not.

No.

`sudo` or `launchctl`.

[2020-12-09 15:21] gromgit opened #287 "`brew services` returns incorrect user info"
# Bug report

**Please note we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] ran `brew update` and can still reproduce the problem?
- [x] ran `brew doctor`, fixed all is

[2020-12-16 09:45] #287 closed

[2021-01-20 16:28] syhily opened #308 "sh: list: command not found on Apple M1"
![image](https://user-images.githubusercontent.com/1761698/105204928-9ee95c80-5b7f-11eb-8c1c-c0caf5717a42.png)

[2021-01-20 17:01] MikeMcQuaid commented on #308
Can I see your `brew config` and `brew doctor` output? Do you still get this after running `brew update-reset` and `brew update`?

[2021-01-20 17:15] syhily commented on #308
[code]

[code]

Still get this issue after running `brew update-reset` and `brew update`.

[2021-01-21 12:18] MikeMcQuaid commented on #308
What does `brew services list --verbose --debug` output?

Closing this until we have others who can reproduce.

[2021-01-21 12:18] #308 closed

[2021-01-21 12:21] syhily commented on #308
[code]

[2021-01-21 12:26] MikeMcQuaid commented on #308
Why is it being tapped every time? Can you reproduce this in a clean shell i.e. without any Bash aliases etc.

[2021-01-21 12:53] syhily commented on #308
It's no tapped every time. I just untap the `homebrew/services` before, cause you could see a tap log.

[2021-01-21 13:37] MikeMcQuaid commented on #308
Ah, I see. No idea what's going on here then, sorry 😭

[2021-01-25 17:42] lacostenycoder opened #310 "brew services list shows service error, service not running"
I looked at https://github.com/Homebrew/homebrew-services/issues/92 which was closed.  I simply did
`brew install elasticsearch@6`  and I'm getting this

[code]
To be sure I run:
[code]
How can I fix the problem so that I can access elasticsearch on default port 9200 ?

[2021-01-25 19:09] lacostenycoder commented on #310
I strongly suggest re-open #92 as I was finally able to figure out the problem by installing the binary directly and running it as per [these instructions](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/targz.html).
When I ran the binary I see exactly what the problem was.
[code]
This is a fresh install on a new machine and all I needed was to install the [Java runtime](https://www.j

[2021-01-25 19:32] lacostenycoder commented on #310
Now I'm really at a loss... I thought this fixed the problem but it didn't and I've got error state again.
[code]

[2021-01-26 10:20] MikeMcQuaid commented on #310
You'll need to figure this out yourself as it's specific to your machine.

[2021-01-26 10:20] #310 closed

[2021-01-26 18:09] lacostenycoder commented on #310
<img src='https://i.giphy.com/media/W4GT7vC6Whj9K/giphy.webp'/>

[2021-02-03 23:54] xrisk opened #315 "Support sending HUP signal"
A lot of services support sending the HUP signal as a way to reload configuration without restarting. I see that launchctl also supports sending signals via `launchctl kill`. Can we support this please?

I’ll be happy to write the PR if we want to have this feature.

[2021-02-05 08:55] MikeMcQuaid commented on #315
My concern is: which services do? How do you know if they do/don't? What's the harm/advantage versus restarting the service? Why not do this directly through `launchctl`?

Closing for now, let's keep discussing here but I wouldn't open a PR yet. Thanks!

[2021-02-05 08:55] #315 closed

[2021-02-05 09:31] xrisk commented on #315
I understand that deciding whether or not a service supports reload via HUP is pretty hard. Two possibilities come to mind:

1. Allow new formulas to specify that this behavior is supported (I’m not a fan of this, it would require a large number of changes)

2. A generic solution which exposes an api of the form `brew services <SIGNAL> <service-name>`. The responsibility of passing appropriate sig

[2021-02-05 11:36] MikeMcQuaid commented on #315
This seems like a better, more generic solution.

[2021-03-07 11:10] marczynski opened #321 "OSX brew services start errored with Bootstrap failed: 5: Input/output error when external drive"
I installed MAMP on OSX via brew, and worked great. brew services list had green "started" statuses.
I changed my home dir to External drive using System Preferences > Users & Groups > Advanced Options > Home directory. I added Full disk access to terminal.app.I rsync everything to new destination. Still works great after rebooting.
However after brew services restart --all or ex brew services res

[2021-03-08 12:36] MikeMcQuaid commented on #321
Sorry, you'll need to figure this out yourself.

[2021-03-08 12:36] #321 closed

[2021-03-29 06:30] sb84 opened #323 "dnsmasq - problem with service status on Apple Silicon M1"
### `brew gist-logs <formula>` link OR `brew config` AND `brew doctor` output

[code]

###

- [X] The `brew doctor` above contains no "Warning" lines.

### What were you trying to do (and why)?

I try correct start dnsmasq service.

### What happened (include all command output)?

It's start. It's working. But status is unknown.
[code]
[code]
[code]
### What did you expect to happen?

To the statu

[2021-03-29 07:36] SMillerDev commented on #323
It doesn't seem to be an install issue so I transfered it to the services repo

[2021-03-29 10:34] MikeMcQuaid commented on #323
@sb84 What's the output of `launchctl list | grep dnsmasq` and `ps aux | grep dnsmasq` and `brew services list | grep dnsmasq`?

[2021-03-29 10:39] sb84 commented on #323
`sbaczyk@M1 ~ % sudo brew services start dnsmasq
Warning: Taking root:admin ownership of some dnsmasq paths:
  /opt/homebrew/Cellar/dnsmasq/2.84/sbin
  /opt/homebrew/Cellar/dnsmasq/2.84/sbin/dnsmasq
  /opt/homebrew/opt/dnsmasq
  /opt/homebrew/opt/dnsmasq/sbin
  /opt/homebrew/var/homebrew/linked/dnsmasq
This will require manual removal of these paths using `sudo rm` on
brew upgrade/reinstall/uninst

[2021-03-29 10:39] sb84 commented on #323
[code]

[2021-03-29 11:03] MikeMcQuaid commented on #323
Looks like it's:
- running twice
- `launchctl` can't find the `pid`

This may be an issue with your local machine or may be an issue with the `dnsmasq` plist. It's not a Homebrew/services issue.

[2021-03-29 11:03] #323 closed

[2021-03-29 11:14] sb84 commented on #323
So where should I direct my inquiry?
Can you refer the ticket to the appropriate section?

[2021-03-29 11:21] MikeMcQuaid commented on #323
@sb84 You'll need to figure this out yourself for now. We'll review a pull request if you can come up with a fix.

[2021-03-29 11:24] sb84 commented on #323
Are you able to give me any advice what should I check?
Or what keywords should I dig on Google for?

[2021-03-29 11:27] MikeMcQuaid commented on #323
Sorry, no.

[2021-03-29 11:27] MikeMcQuaid commented on #323
Others may be able to!

[2021-03-30 09:28] sb84 commented on #323
I don't know what the reason is
but in the end, for my own needs, I solved it like this
that I run the dnsmasq service as a normal user, but on port other than 53 (for me it is 8053), and additionally I set up a local redirection of calls from port 53 to 8053

`echo "rdr pass inet proto udp from any to 127.0.0.1 port 53 -> 127.0.0.1 port 8053" | sudo pfctl -ef -`

the service is green and all call

[2021-05-17 18:37] instanttim opened #337 "Services status shown as "unknown""
on macOS 11.3.1 (20E241), my services are listed as unknown even though the appear to be working... fully updated Homebrew, uninstalled and reinstalled all the services, same result.

[code]

[2021-05-17 18:43] instanttim commented on #337
`launchctl list | grep dnsmasq` shows no results, but `ps aux` shows dnsmasq running just fine. And it's functioning.

[2021-05-18 10:55] MikeMcQuaid commented on #337
This is why it is unknown. If it's not causing you problems: don't worry about it. If you'd like to debug/fix this: you'll need to investigate why the plist isn't loading and perhaps use `brew edit dnsmasq` to fix/improve it (and submit a pull request). This is not a `brew services` issue, sorry.

[2021-05-18 10:55] #337 closed

[2021-05-19 23:16] csalch-indeed opened #339 "dnsmasq causes `brew services list` to crash"
I've started seeing this happening today:

[code]

It looks like it is related to https://github.com/Homebrew/homebrew-services/commit/bcf1fa6333df22b7ebdffb7833b60f5515e4bbc3#diff-642a732918ee1aeca833e8380816320040a75eb97db5c2743e56e5ad71fc3626R75

The dnsmasq package claims it needs to run as root:
[code]
and it seems to be the fact that that plist was started as root that's causing it to error

[2021-05-20 05:34] mokeyish commented on #339
<img width="1369" alt="图片" src="https://user-images.githubusercontent.com/16131917/118924725-12557c00-b970-11eb-9fb4-9e1f565b3c61.png">

[2021-05-20 05:42] mokeyish commented on #339
I use `@status ||= Utils.safe_popen_read("#{ServicesCli.launchctl} list '#{label}' || echo ''").chomp` to fixe errors.

[2021-05-20 06:31] SMillerDev commented on #339
What is the output of this after you started dnsmasq?
[code]

[2021-05-20 08:41] twdnhfr commented on #339
basically the same issue here, its alternating between mysql and dnsmasq:

![bsl_issue](https://user-images.githubusercontent.com/13796752/118947567-c39be800-b957-11eb-84ed-8cf7dede9f7b.png)

[2021-05-20 08:45] SMillerDev commented on #339
How about `/bin/launchctl list | grep 'homebrew.mxcl.dnsmasq'` in this scenario? (and can you post the output as a code block, images are much harder to work with)

[2021-05-20 09:26] twdnhfr commented on #339
Sure:

❯ /bin/launchctl list | grep 'homebrew.mxcl.dnsmasq'

❯ /bin/launchctl list | grep 'homebrew.mxcl.mysql'
474	0	homebrew.mxcl.mysql

dnsmasq has no output in this case

with sudo:
❯ sudo /bin/launchctl list | grep 'homebrew.mxcl.dnsmasq'
65	0	homebrew.mxcl.dnsmasq

❯ sudo brew services list
Error: Failure while executing; `/bin/launchctl\ list\ \'homebrew.mxcl.mysql\'` exited with 113. Here'

[2021-05-20 09:56] SMillerDev commented on #339
Yeah, I guess we need to allow a failing command here (without output)

[2021-05-20 11:33] MikeMcQuaid commented on #339
@SMillerDev Yes. Can you open a PR?

[2021-05-20 11:33] SMillerDev commented on #339
Not right now, but yes

[2021-05-20 11:39] MikeMcQuaid commented on #339
No worries, I got you.

[2021-05-20 11:45] #339 closed

[2021-05-31 17:05] Jacobfaib opened #345 "Undefined method `boot_path_plist_present?'"
My specific error message:
-----------
[code]

How to reproduce:
-------
[code]

Version info
--------
macOS Big Sur v 11.4
[code]

It looks like a recent cleanup may have removed the function `boot_path_plist_present`, I grepped the `homebrew-services` and could not find a reference. Or is this function defined in another package?

[2021-05-31 17:07] Jacobfaib commented on #345
Output of `brew doctor`
[code]

[2021-05-31 18:03] Jacobfaib commented on #345
The following commit `cea6c9f5b65e9d85779ac65c2600f508df5f6b93` is to [blame here](https://github.com/Homebrew/homebrew-services/commit/cea6c9f5b65e9d85779ac65c2600f508df5f6b93#diff-642a732918ee1aeca833e8380816320040a75eb97db5c2743e56e5ad71fc3626R86)

[2021-05-31 18:50] rcrews commented on #345
Good work on this @Jacobfaib. I came here to report this, and I see you've already done a great job.

[2021-05-31 18:58] ralphjsmit commented on #345
I have the same error message. Just spent half an hour debugging this and reinstalling everything. Thanks Jacobfaib, now I know that there's nothing wrong with my installation 😌

[2021-05-31 19:57] pgrenaud commented on #345
Quick and dirty hotfix to make things work in the meantime:

[code]

[2021-05-31 20:10] devasghar commented on #345
Call it sloppy but simple commented out the line for now.
`#boot_path_plist_present? || user_path_plist_present?`

[2021-06-01 08:29] #345 closed

[2021-06-04 13:41] pgrenaud opened #349 "Support for custom plist"
Greetings,

I notice with today's latest PR (b43d46eb547782f7bd4d01ee1b9df9980d88e15c) that the support for custom plist was silently dropped. Is there any reason why that feature was removed?

We have build a set of tool for our developers that rely on custom plist to be able to run two different versions of MySQL at once. The plist provided by homebrew are in conflict with one another and the on

[2021-06-04 14:52] SMillerDev commented on #349
It was never documented anywhere so I did not consider it supported. It also made the code much more complex. But if people want to add it back and actually document it I would gladly review a PR.

[2021-06-07 11:37] MikeMcQuaid commented on #349
@SMillerDev I wasn't aware when I was reviewing that the support was being dropped so reverting based in number of 👍🏻s in here in https://github.com/Homebrew/homebrew-services/pull/352.

@pgrenaud or others: after the revert would love to have some documentation added for this to the manpage/README and some tests. Shout if I can help with that.

[2021-06-07 11:38] #349 closed

[2021-06-07 14:43] pgrenaud commented on #349
Unfortunately, I won't be able to help with the tests since my knowledge of ruby is very limited.

For the documentation, do you mean the `usage_banner` in [cmd/services.rb](https://github.com/Homebrew/homebrew-services/blob/master/cmd/services.rb)?

[2021-06-08 12:24] MikeMcQuaid commented on #349
Yes please! That and the README would be great.

No worries!

[2021-06-08 12:27] SMillerDev commented on #349
https://github.com/Homebrew/homebrew-services/pull/353 will actually take care of that

[2021-06-29 21:15] distinctdan opened #358 "Can't remove service"
I have a service that homebrew refuses to remove.
I'm trying to remove `emqx`.
[code]

However, trying to stop it errors:
[code]

And cleanup does nothing:
[code]

Why can't I remove this service? It was added via homebrew, so it ought to be removable via homebrew.

[2021-06-30 06:28] SMillerDev commented on #358
`brew remove emqx` will remove the formulae from your system and therefore out of this list.

[2021-06-30 06:28] #358 closed

[2021-07-01 15:25] distinctdan commented on #358
So I actually do need the emqx package, I just needed it removed from the services list. Uninstalling it and reinstalling it did work, so thanks for that, although it seems like it should have been possible to remove it from the services list without reinstalling.

[2021-07-01 15:49] SMillerDev commented on #358
It shows up because it's installed. `brew services` will show any brew services that has a service installed.

[2021-07-15 08:58] RealSaltyFish opened #360 "Incorrect plist for pinned outdated formulas"
I have installed the formula `v2ray` using Homebrew, and for some reasons I have to pin it at 4.38.3:
[code]
When I use `brew services start v2ray` to launch the corresponding service, it always fails. I checked the plist file `~/Library/LaunchAgents/homebrew.mxcl.v2ray.plist`, and found that in `programArguments`, the path to the executable is incorrect. It is `/usr/local/Cellar/v2ray/4.40.1/bin/

[2021-07-15 09:28] SMillerDev commented on #360
A better solution would be to `stop` and then `start` the service. `brew services` regenerates the service in that case and it should be pointing to the correct path again. Symlinking brews internal directories is likely to cause a lot of difficult to debug issues with brew so that's not a solution I'd recommend.

[2021-07-15 11:24] MikeMcQuaid commented on #360
We don't really support pinning here. We'll review a PR to improve this behaviour.

[2021-07-15 11:24] #360 closed

[2021-07-16 21:49] MrSerth opened #362 "Multiple services started in a row are bootstrapped using the same plist file"
About a month ago, I started having issues starting multiple services and registering these with launchctl. From time to time, I execute the following command:

[code]

Having about five services, I regularly and reproducibly get the following error:

[code]

When repeating the same command without doing anything in between, I get the following output:

[code]

I was then able to reissue the comma

[2021-07-19 13:24] MikeMcQuaid commented on #362
Could you try and open a pull request? We're happy to walk you through the process.

Thanks!

[2021-07-26 05:26] 4ndv opened #363 ""Bootstrap failed: 5: Input/output error" when having not the latest version of a package"
Here's the problem that occurs every time a new version of redis released:

[code]

[code]

For some reason, while trying to run the service it's looking for a latest known version, instead of a version installed at the moment.

I don't know, if it's a problem with the redis formula or with a brew services itself

[2021-07-26 12:16] MikeMcQuaid commented on #363
I presume you haven't updated `redis` yet? Can you run `brew services run --verbose --debug redis` and repost the error here?

[2021-07-26 12:19] #363 closed

[2021-07-27 15:38] pgrenaud opened #364 "Custom plists are no longer installed in the LaunchDaemons/LaunchAgents directories"
Greetings,

Sorry to bother you again about this, but an issue still remain after my last issue (#349) and I took way to much time to notice it. The PR that added the `--file` argument (#353) changed the installation behaviour of custom plist files. That change cause services to not start after a system reboot.

Normally, plist files (customs and regulars) would be installed in the `LaunchDaemons`

[2021-07-28 11:10] 4ndv commented on #363
Unfortunately, I've already updated redis by the time of opening PR

[2021-08-04 03:37] Maxim-Filimonov opened #366 "Unknown command services"
It seems the latest commit on homebrew broke services again(Same as #206 )
[code]

[2021-08-04 07:30] MikeMcQuaid commented on #366
I cannot reproduce. Please paste the output of `git -C $(brew --repo homebrew/services) show`.

[2021-08-04 07:30] #366 closed

[2021-08-04 10:42] Maxim-Filimonov commented on #366
@MikeMcQuaid
[code]

[2021-08-04 10:43] SMillerDev commented on #366
You don't have brew services tapped. `brew tap homebrew/services` will fix your issue.

[2021-08-04 10:46] Maxim-Filimonov commented on #366
That worked. Wonder why I never needed to tap it before, weird...

[2021-08-10 11:17] MikeMcQuaid commented on #364
@SMillerDev could you take a look at this?

[2021-08-11 07:32] SMillerDev commented on #364
Yeah, gonna try and have a look today

[2021-08-12 15:28] convenient commented on #364
@SMillerDev @MikeMcQuaid Is it possible this is related to the issue I am seeing where services aren't going to the `stopped` status?

[code]

I have redis service running, see that it is `started`
[code]

I can properly restart it, see that it stays at `started`
[code]

However when I stop the service it goes to `unknown` status rather than `stopped`

[code]

[2021-08-13 09:01] Darleev opened #368 "brew services list command returns "unbound unknown" output."
### `brew config` output

[code]

### `brew doctor` output

[code]

###

- [X] I ran `brew update` and am still able to reproduce my issue.
- [X] I have resolved all warnings from `brew doctor` and that did not fix my problem.

### What were you trying to do (and why)?

I'm trying to tap the command `brew service list` and get the following response:
Name    Status  User Plist
unbound unknown

###

[2021-08-13 09:43] convenient commented on #364
Actually, maybe https://github.com/Homebrew/homebrew-services/pull/350 could be the cause of the above @SMillerDev ? Rather than this issue.

[2021-08-13 10:11] SMillerDev commented on #368
Unbound is just the name of the service, it's not some error.

[2021-08-13 11:07] issyl0 commented on #368
I think it's more the "unknown" status output that's the problem. On my machine with the latest commit here:

[code]

vs. `git reset --hard HEAD^` in this repo:

[code]

[2021-08-13 11:25] issyl0 commented on #368
Before, we set `formula[:status] = :stopped` [as a default before checking for "running"](https://github.com/Homebrew/homebrew-services/pull/350/files#diff-746eea16743ce243a0096ff62d195973091ad8474dca725d0b0efeda3b793b97L85-L91), but now we don't do that anymore so `status.blank?` in [`unknown_status?`](https://github.com/Homebrew/homebrew-services/pull/350/files#diff-642a732918ee1aeca833e83808163

[2021-08-13 12:34] #368 closed

[2021-08-13 13:54] miketimofeev commented on #368
@issyl0 thanks for such a quick fix! Could you please clarify when this will be released?

[2021-08-16 12:10] #362 closed

[2021-08-16 12:18] #364 closed

[2021-08-17 21:45] pgrenaud commented on #364
Thanks to everyone involved!

I've tested on my side and everything seems to work as intended! 👌

[2021-08-25 05:34] SampsonCrowley opened #375 "Option to stop service without unregistering"
@MikeMcQuaid would you be interested in making the services work more like systemd style running options?

There is currently no way to stop a running service without also unregistering it from launchctl. This feels dangerous to me.

In Systemd based Linux Distros I constantly (well, not constantly, but you know) stop, start, restart, status services and it has nothing to do with whether they are

[2021-08-25 05:46] SampsonCrowley commented on #375
Also I've seen an issue template mentioned in other issues before; but none pull up when opening an issue and I didn't immediately find one. If you want people to use an issue template, that should be added so that its automatic and people who aren't aware it's expected don't just skip it without knowing. It's a really easy thing to add if you'd like assistance getting an auto-template setup

[2021-08-25 05:49] SMillerDev commented on #375
Currently `start` enables and starts and `run` just starts. So I think it already does pretty much what you're describing.

There is no way to just enable something but since launchctl leaves the start trigger to the service, this will require rewriting services on the fly. It's possible but I'd say it's not worth the effort.

[2021-08-25 05:50] SampsonCrowley commented on #375
@SMillerDev I'm aware of start and run; My concern is in `stop`

[2021-08-25 05:51] SampsonCrowley commented on #375
There is no way to `stop` without permanently unregistering the service and requiring users to remember to start/enable it again if its a service that should always start on boot

[2021-08-25 05:54] SampsonCrowley commented on #375
If there is no interest in changing that behavior though, that is understandable

[2021-08-25 08:06] MikeMcQuaid commented on #375
This seems desirable.

I have no idea why this would be dangerous.

We cannot do this.

We cannot change the behaviour of `stop` to be as you describe. We could add something like `brew services pause` which takes the approach you're proposing. We'd review a PR to implement that.

[2021-08-25 08:17] SMillerDev commented on #375
Or `brew services kill`, which should be pretty easy to do since we already have code for it.

[2021-08-25 15:38] SampsonCrowley commented on #375
The reason it is dangerous is because it is a permanent change with no option of a temporary kill. A dev that is relying on a service to always start on boot but needs to stop it for some reason might forget to start it again (Murphy's Law, anything that can happen will happen).

There should be an option that does not have effects that are persisted past a reboot; same as `run`; `kill` or `pause`

[2021-08-25 16:28] MikeMcQuaid commented on #375
That'd be great, thanks! ❤️

[2021-09-09 07:35] thecesrom opened #376 "Running brew services [re]start results in error"
I have created a formula on a tap I maintain and previously any `brew services [subcommand]` worked fine.

Formula [coatl-dev/coatl-dev/ignition](https://github.com/coatl-dev/homebrew-coatl-dev/blob/coatl/Formula/ignition.rb) installs `homebrew.mxcl.ignition.plist` under `/Users/{user}/Library/LaunchAgents` but running `brew services start ignition` or `brew services restart ignition` produces the

[2021-09-09 07:49] SMillerDev commented on #376
That's because it uses a different label and installs itself instead of letting brew do it.

[2021-09-09 08:02] thecesrom commented on #376
Sorry, but I don't understand what you mean.

Would you please explain the recommended corrective action for this case?

As I mention, previously I had no issue running `brew services`. The last time I checked was back in August 9, and `brew services start coatl-dev/coatl-dev/ignition` worked fine.

[2021-09-09 18:57] thecesrom commented on #376
Should I uninstall and then install the formula?

Should I not `prefix.install_symlink "#{libexec}/com.inductiveautomation.ignition.plist" => "#{plist_name}.plist"` as part of the installation process?

[2021-09-09 19:06] thecesrom commented on #376
I created that formula back in January based on the [Formula Cookbook - launchd-plist-files](https://docs.brew.sh/Formula-Cookbook#launchd-plist-files), but I'm seeing the following line on many formulae:

[code]

Is that preferred over the recommended method from the Formula Cookbook?

Thanks.

[2021-09-10 05:09] SMillerDev commented on #376
What if you stop and start the service manually?

---
`plist_options startup: true` just means that it must be run at startup and can't be run as a normal user.

[2021-09-10 05:22] thecesrom commented on #376
Starting and stopping the service works just fine.

[code]

It is only `brew services [re]start` that fails with the error from the first post.

[2021-09-21 03:15] yanminhui opened #379 "the job that not in domain target should not list"
* system
  * list by launchctl
[code]

  * list by brew
[code]

* user
  * list by launchctl
[code]

  * list by brew
[code]
* result
  | domain | launchctl | brew |
  | --- | --- | --- |
  | system | + | + |
  | user | + | - |

[2021-09-21 06:23] SMillerDev commented on #379
Why? The formula is still installed so it's still a service you can manipulate. The only unfortunate thing about this situation is that one user doesn't know if the other is running something, but I can't think of a good way around that.

[2021-09-21 08:33] yanminhui commented on #379
Can it to display according to the context ?
[code]

[2021-09-21 08:35] SMillerDev commented on #379
If you make a pull request I'll happily review it.

[2021-10-03 04:48] thecesrom commented on #376
Is there any information I could provide to get this fixed?

[2021-10-04 12:15] MikeMcQuaid commented on #376
@SMillerDev is best person to answer that question.

[2021-10-04 17:17] SMillerDev commented on #376
So, I actually had some time to look into this, and the issue is that it doesn't use a label that brew services uses. If I rename the label from `com.inductiveautomation.ignition` to `homebrew.mxcl.ignition` because now `brew services` can provide the correct label to `launchctl`.

I don't think going back to the old way of checking services is a good idea, but you can easily fix it in the formula

[2021-10-04 19:52] thecesrom commented on #376
I tried this approach on my local installation before making changes to the formula and it works.

**`plist`**

[code]

**`brew services`**

[code]

Thanks, @SMillerDev!

[2021-10-05 11:51] #376 closed

[2021-10-14 17:11] ExsyDev opened #384 "Brew services list gave me error"
### `brew config` output

[code]

### `brew doctor` output

[code]

###

- [X] I ran `brew update` and am still able to reproduce my issue.
- [X] I have resolved all warnings from `brew doctor` and that did not fix my problem.

### What were you trying to do (and why)?

I try run `brew services list` for see services list.

### What happened (include all command output)?

I get error after running

[2021-10-20 00:09] #379 closed

[2021-10-21 08:27] DxPoly opened #386 "postgresql status error"
I use `brew install postgresql` and `brew services list` shows the postgresql's status is 'error'
I tried `brew services restart postgresql` and `brew uninstall postgresql && brew install postgresql` , have the same output.
[code]
I don't know the reason and the plist with postgresql seems different with others.

also, when I input `psql` it output the error message
[code]

[2021-10-21 10:39] #386 closed, assigned to nobody

[2021-10-28 00:43] cyberdynesoftware opened #387 "jack service does not stop"
[code]

Well, it takes forever. This is also the reason why [my mac takes forever to shut down](https://apple.stackexchange.com/q/429672/255436). And worse, the service is not removed from the list of services to start at boot.

Therefore, I suggest to:

1. Refactor the stop command. It seems to me that the stop command is first off trying to stop the service and only afterwards removing it from t

[2021-10-30 15:57] #384 closed

[2021-11-01 06:53] ExsyDev commented on #384
@SMillerDev there is no error now, but when I run `brew services list` my editor opening some files: https://imgur.com/a/VJC0P3i

How I can prevent this?

[2021-11-01 07:58] SMillerDev commented on #384
It's hard to see which files your editor opened but I don't know what could be happening there. No code change in brew services tells anything to open a file.

[2021-11-01 08:01] ExsyDev commented on #384
It was before even with that error

[2021-11-01 14:21] SMillerDev commented on #384
if you run `ps aux`, does it show a list of running processes? If not, what does `which ps` say?

[2021-11-01 14:33] ExsyDev commented on #384
If I run `ps aux`, then my editor opening file `aux` and shows nothing. If I run `which ps` it says: `/usr/local/bin/ps` and does not open any files.

[2021-11-01 14:39] SMillerDev commented on #384
Yeah, somehow your system `ps` command is being overwritten by your editor. I'll see if there is a way we can work around it, but I would recommend just removing `/usr/local/bin/ps` to get `brew services` working

[2021-11-01 14:41] ExsyDev commented on #384
Yep. Now working good and does not open any files when I run `brew services list`. Thanks very much!

[2021-11-01 22:47] jimeh opened #392 "[macOS Monterey] "brew services list" renders incorrectly for services without a PID and zero exit status in launchctl status output"
- OS: macOS Monterey 12.0.1 (21A559)

Examples of affected formula are `dbus` and `logrotate`:

[code]

From what I can tell, `Service::ServicesCli.service_get_operational_status` returns nil for both of these services, causing the not correct list output above where effectively the user is printed in status column.

The reason for this seems to be because `service.pid?`, `service.error?`, and `se

[2021-11-06 13:41] VonUniGE opened #395 "`brew services stop sonarqube` does not stop sonarqube"
**Steps to reproduce:**
[code]
**Observed behavior:**
Sonarqube is still runnning after `brew services stop sonarqube`

**Desired behavior:**
All Sonarqube processes should be stopped after `brew services stop sonarqube`

[2021-11-06 14:17] VonUniGE commented on #395
A related issue is that status and plist file are not detected by `brew services list`:

[code]

[2021-11-08 14:29] MikeMcQuaid commented on #395
If this only affects `sonarqube`: this should be a homebrew-core issue instead. Let me know and I can move it.

[2021-11-08 14:49] VonUniGE commented on #395
Yes, this is related to the plist file of Sonarqube. When Sonarqube is running correctly, we have:
[code]
The first column should show the pid.

[2021-11-08 15:13] SMillerDev commented on #395
Yeah, it seems like this never worked correctly. The run command needs to use `sonar console` because `sonar start` will exit immediately.

[2021-11-12 15:52] pgrenaud opened #398 "Error: Formula `mysql` has not implemented #plist, #service or installed a locatable service file"
Greetings,

I'm trying to provision a freshly installed M1 Mac mini, and I'm having this issue that I haven't seen a couple weeks ago when I did the same thing. `brew services` does not show `mysql` services, even if the `mysql` formula is installed. Just to compared, I've installed `httpd` and `php`, and both show up in `brew services`.

When running the `brew services start mysql`, I get the fol

[2021-11-12 16:00] SMillerDev commented on #398
What does `ls -al /opt/homebrew/opt/mysql/` say?

[2021-11-12 16:02] pgrenaud commented on #398
[code]

[2021-11-12 16:04] SMillerDev commented on #398
Did you install in rosetta mode?

[2021-11-12 16:06] pgrenaud commented on #398
I did not know that was even possible, so I'm guessing no.

[2021-11-12 16:09] pgrenaud commented on #398
I don't understand. Mysql was installed using `brew install mysql`. Right now, I tried to run `brew reinstall mysql` but then I got a bunch of error. Then, I ran `brew uninstall mysql` then got `Error: No available formula or cask with the name "mysql". Did you mean mysql++?`. Finally, I ran `brew install mysql` and everything seems to be fine now.

[2021-11-12 16:11] pgrenaud commented on #398
This is so strange. Something was definitely broken, but again this is a freshly installed system. That should not happens.

@SMillerDev Do you want me to look at something before I erase this mac and try over again to see if I can reproduce?

[2021-11-12 16:39] MikeMcQuaid commented on #398
Run `brew doctor` and fix the problems it mentions.

[2021-11-12 16:45] pgrenaud commented on #398
[code]

@MikeMcQuaid Do you want me to look at something else before I erase this mac and try over again to see if I can reproduce?

[2021-11-12 16:51] MikeMcQuaid commented on #398
@pgrenaud `sudo chown -R $USER /opt/homebrew`.

[2021-11-12 16:51] #398 closed

[2021-11-12 17:29] pgrenaud commented on #398
According to the result of `find /opt/homebrew ! -user $USER`, no files or directories belongs to any other user.

[2021-11-12 21:20] pgrenaud opened #399 "brew services restart formula no longer start the service if it is not currently running"
Previously, regardless of if a service is running or not, executing the command `brew services restart formula` would start the service (after stopping it first if it is running).

Now, if the service is not currently running, executing the command `brew services restart formula` does nothing. If the service is currently running, the command `brew services restart formula` behave as expected.

I t

[2021-11-12 21:20] pgrenaud commented on #398
After erasing the mac and reinstalling macOS, I no longer observe the issue.

However, I do notice a new issue: #399

[2021-11-15 11:18] convenient commented on #399
Ah this is very likely the cause of https://github.com/Homebrew/homebrew-bundle/issues/1023 maybe?

[2021-11-15 11:45] SMillerDev commented on #399
That could be, I'm not sure that a `restart` should silently do `start` if there was nothing to stop though

[2021-11-15 11:47] convenient commented on #399
@SMillerDev that's how it's been working previously though?

[2021-11-15 11:51] convenient commented on #399
@SMillerDev I cant find any official documentation, this is the closest I could get which I think is the blog post I read when we were moving off of `boxen`

https://mikemcquaid.com/2016/06/15/replacing-boxen/

This would imply `brew bundle` handles the starting of any services that are necessary IMO

[2021-11-15 14:13] MikeMcQuaid commented on #399
@SMillerDev Yeh, it should, there's a bunch of scripts out there that rely on this behaviour (including `brew bundle`) unfortunately.

[2021-11-15 14:31] SMillerDev commented on #399
Hey, you approved it 😄. I'll make a PR later today if nobody beats me to it

[2021-11-15 14:37] MikeMcQuaid commented on #399
😅. I did not review well enough it seems.

Yes, please ❤️

[2021-11-15 21:54] pgrenaud commented on #399
#400

[2021-11-16 11:58] #399 closed

[2021-11-16 14:41] pgrenaud commented on #399
Thanks all for the quick handling!

[2021-11-16 16:00] pgrenaud opened #401 "plist file not showing with `brew services` when service was started with `brew services restart`"
Hi @MikeMcQuaid and @SMillerDev, it's me again with another issue 😅

Following #399 and #400, I noticed that the file column is empty for services started with `brew services restart`.

For instance, if I start the `mysql` service with `brew services start mysql`, I get the following:

[code]

But if I start the `mysql` service with `brew services restart mysql`, I get the following:

[code]

In b

[2021-11-18 21:14] pgrenaud opened #402 "`sudo brew services restart` no longer start the service if it is not currently running"
Hi @MikeMcQuaid and @SMillerDev, I'm really really sorry, but I found another issue 😕

Following #399, #400 and #401, I noticed a similar issue to #399, but when using `sudo`.

If the service is not currently running, executing the command `sudo brew services restart httpd` does nothing and outputs the following:

[code]

If the service is not currently running, the command `sudo brew services sta

[2021-11-24 11:22] wkb1192 opened #404 "brew services - Unknown command: services"
`brew update` & `brew update-reset` ←Finished

`brew config`
HOMEBREW_VERSION: 3.3.5-28-g3ab140e
ORIGIN: https://github.com/Homebrew/brew
HEAD: 3ab140e39753536b7e6f8ce337f6f000e31cbb2f
Last commit: 3 hours ago
Core tap ORIGIN: https://github.com/Homebrew/homebrew-core
Core tap HEAD: d047c7351f2b3c7283875ec613f1c41a771b0a6b
Core tap last commit: 27 minutes ago
Core tap branch: master
HOMEBREW_PREFI

[2021-11-24 11:23] #404 closed

[2021-11-24 11:26] wkb1192 commented on #404
why Closed

[2021-11-24 11:27] MikeMcQuaid commented on #404
To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

[2021-11-24 11:32] wkb1192 commented on #404
`brew install httpd`
↓
`sudo brew services start httpd`
↓
Error: Unknown command: services

[2021-11-24 11:36] wkb1192 commented on #404
Please Help

[2021-11-24 11:42] MikeMcQuaid commented on #404
You need to answer my questions or we cannot help you.

[2021-11-24 12:35] wkb1192 commented on #404
[https://tech-cookbook.com/2021/10/25/how-to-setup-mamp-macos-apache-mysql-php-on-macos-12-monterey-2021/](url)
I want to do the SetUp described in this URL.

I want to run the `brew services restart httpd` written in Starting Apache server,
but when I try to run it, I get `Error: Unknown command: services`.

Why isn't this command being executed?

[2021-11-24 12:36] wkb1192 commented on #404
[https://tech-cookbook.com/2021/10/25/how-to-setup-mamp-macos-apache-mysql-php-on-macos-12-monterey-2021/](url)
I want to do the SetUp described in this URL.

I want to run the `brew services restart httpd` written in Starting Apache server,
but when I try to run it, I get `Error: Unknown command: services`.

Why isn't this command being executed?

[2021-11-24 12:46] MikeMcQuaid commented on #404
Try to `brew tap homebrew/services`.

[2021-11-24 13:04] wkb1192 commented on #404
`brew tap homebrew/services` & `brew update` & `brew update-reset`

I've tried, but I'm still getting an error message.

[2021-11-25 08:37] wkb1192 commented on #404
I'm crying.

[2021-11-25 09:13] MikeMcQuaid commented on #404
Can't help you then. This is an issue specific to your machine and not a bug in Homebrew. You may have more luck in our Homebrew/discussions repository.

[2021-11-25 17:29] wkb1192 commented on #404
悲しい

[2021-11-27 00:09] #387 closed

[2021-11-29 12:40] MikeMcQuaid commented on #401
@SMillerDev can you take a look at this when you get a chance? 🙇🏻

[2021-11-29 12:40] MikeMcQuaid commented on #392
@SMillerDev can you take a look at this when you get a chance? 🙇🏻

[2021-11-29 12:40] MikeMcQuaid commented on #402
@SMillerDev can you take a look at this when you get a chance? 🙇🏻

[2021-11-29 12:46] SMillerDev commented on #401
Yeah, It's on my list.

[2021-11-30 11:05] SMillerDev commented on #392
For logrotate I'm not really sure what the status should be. It is a service that runs on a schedule so `started` or `stopped` seems weird to me.

For dbus it's an even harder case because it doesn't get installed normally by brew, instead it tells brew where to find the plist.

[2021-11-30 11:28] jimeh commented on #392
Maybe a new status of `loaded` makes sense? As `launchctl` uses "load" and "unload" terminology.

Or, worst case, maybe treat them as `unknown` so the `brew services list` command correctly prints a status column for them. I ran into this issue when doing a rewrite of xbar's brew-services plugin ([PR](https://github.com/matryer/xbar-plugins/pull/1717)), and had to work around it by treating anythi

[2021-11-30 11:34] jimeh opened #408 "[Feature Request] Support JSON output for `brew services list`"
An option to output the list of services in JSON format would be handy for other tools to integrate with brew services.

As I mentioned on #392, for my [brew-services](https://github.com/matryer/xbar-plugins/pull/1717) xbar plugin, I simply had to parse the text output manually. Being able to just parse JSON instead would have been nice.

If I have some free time this week, I'll try to take a stab

[2021-11-30 12:59] MikeMcQuaid commented on #408
Yeh, this would be great 👍🏻

[2021-11-30 12:59] MikeMcQuaid commented on #392
`scheduled` or something?

Agreed, `unknown` is always better than skipping a column.

[2021-11-30 14:27] jimeh commented on #392
I thought of `scheduled` too, but then I wasn't sure if there's any easy way to distinguish actually scheduled services from those which aren't scheduled but still "enabled".

Speaking of which, maybe `enabled` might work as well? Cause looking at the `launchctl` manpage in Monterey at least, it looks like `load`/`unload` commands are deprecated in favor of `enable`/`disable` or `bootstrap`/`booto

[2021-11-30 14:34] SMillerDev commented on #392
We can't fully copy launchd because it works on Linux too. But `scheduled` sounds good.

[2021-11-30 17:40] #401 closed

[2021-12-02 14:42] pgrenaud commented on #401
Everything seems to work fine now. Thanks again!

[2021-12-02 14:42] pgrenaud commented on #402
Everything seems to work fine now. Thanks again!

[2021-12-06 12:30] lokesh1729 opened #413 "Error: undefined method `timed?' for #<Homebrew::Service:0x00007f8e68cb04c8>"
[code]

This error started occurring when I install mongodb.

[2021-12-06 13:40] djoproject commented on #413
Hello @SMillerDev, I tried the fix you proposed.  It fixes the `timed` method issue.  But there is at least another missing method:

[code]

Thank you for your work.

[2021-12-06 16:41] Raptorify commented on #413
for now you can just revert to an older commit like this

`git checkout 6aaf037f5eb0399c97a3068908697e1565963762`

[2021-12-06 16:43] SMillerDev commented on #413
It's actually fixed in the latest brew release, no need to revert anything.

[2021-12-13 15:11] gstlouisgit opened #415 "status error with httpd after brew install"
I have this strange error in brew services.

Name       Status  User           File
httpd        error    256 root    ~/Library/LaunchAgents/homebrew.mxcl.httpd.plist
mariadb   started gstlouis     ~/Library/LaunchAgents/homebrew.mxcl.mariadb.plist
php@7.4  started gstlouis     ~/Library/LaunchAgents/homebrew.mxcl.php@7.4.plist

When doing `brew services start httpd` it says it start (with the err

[2021-12-13 15:20] SMillerDev commented on #415
Check what the log says for httpd? Or try running `/usr/local/opt/httpd/bin/httpd -D FOREGROUND` outside of `brew services` and see what it outputs

[2021-12-13 16:52] gstlouisgit commented on #415
thanks
/usr/local/opt/httpd/bin/httpd -D FOREGROUND
nothing really happens, so it looks fine and is working when I exec this.  but no errors to go on...

[2021-12-29 16:20] sagunshre opened #431 "Error: undefined local variable or method `datadir' for #<Homebrew::Service:0x00007fe014124340>"
Got this error while installing percona-server and after installation when executing `brew services list`.
[code]

[2021-12-31 10:29] SMillerDev commented on #431
https://github.com/Homebrew/homebrew-core/pull/92294 will fix this, it's an issue in the formula

[2021-12-31 21:57] 5u9 commented on #431
[code]

[2022-01-03 00:37] PrasadChinwal opened #433 "Services not starting for user"
| package | version |
| ---------| --------|
| macos | Monterey 12.1 |
| Homebrew| 3.3.9|
| php | 8.1.1 |
| nginx | 1.21.5 |
| dnsmasq | 2.86 |

### Services not started when `brew services start <service_name>` is run.

I recently started getting issues when running my services using brew services. Weird thing is when i run for ex. `brew services start php` I get the following error:
[code]

When

[2022-01-03 08:18] SMillerDev commented on #433
Can you try running `brew services stop php` as both user and root and then trying to run it again from only one system.

[2022-01-03 18:51] PrasadChinwal commented on #433
Hey @SMillerDev, I followed your suggestion and it stopped both services. Unfortunately, it didn't start the services.
<details>
  <summary>Results</summary>

[code]
</details>

[2022-01-03 18:59] SMillerDev commented on #433
Check `brew services info php` and see if there are errors in the log

[2022-01-03 19:08] PrasadChinwal commented on #433
I didn't find any error logs but here are the results. I checked the `launchctl` to see if the pid was assigned since `brew services start php` says successfully started but the pid was not assigned.

<details>
 <summary>Results</summary>

[code]
</details>

Is this related to this issue #102 ?

[2022-01-03 20:26] PrasadChinwal commented on #433
@SMillerDev I figured out the issue.

I had to follow the below steps to solve this issue.

- Uninstalled all services from brew one by one.
- Deleted all `.plist` from locations `~/Library/LaunchAgents` and `/Library/LaunchAgents` and `~/Library/LaunchDaemons`.
- Deleted all config files for the services from respective locations. ex. `nginx` config files (my location was `/usr/local/etc/nginx`)

[2022-01-03 20:26] #433 closed

[2022-01-03 20:32] PrasadChinwal commented on #415
@gstlouisgit try running `launchctl list | grep homebrew.` and track `httpd`. We are looking for a pid listed besides httpd service.

<details>
  <summary>example</summary>

[code]
</details>

You can try running the above steps with sudo as well because sometimes the services which are started on boot using .plist files might be interfering in starting the services.

[2022-01-05 00:12] #413 closed

[2022-01-06 20:51] selfagency opened #434 "`brew services` yields undefined method under Linux"
I'm running an Ubuntu-based distro on WSL2. I know that's not officially supported, but it is running `systemd`. Either way, if it's not supported, it should ideally fail gracefully with a notification and not just poop the proverbial bed.

[code]

[2022-01-07 05:36] SMillerDev commented on #434
I think I have an idea what this is coming from. Could you post the output of `brew services info --all`?

[2022-01-07 14:22] selfagency commented on #434
same

[code]

[2022-01-07 15:12] selfagency commented on #434
ok, so it turns out i wasn't launching into genie properly and that's why i was getting the above error (tho it should probably tell me that i'm not running systemd instead of throwing that error).

however, now i'm getting a different error:

[code]

[2022-01-07 19:16] SMillerDev commented on #434
Try running that command manually because clearly your systemd doesn't work well.

[2022-01-15 07:11] jvanderen1 opened #438 "Warning: No services available to control with `brew services`"
## Description

My issue is related to https://github.com/Homebrew/homebrew-services/issues/218, but this is happening on a clean Mac running macOS Monterey v12.1. I had just reinstalled some of my packages using [this Brewfile](https://github.com/jvanderen1/brewfile/commit/9edc324d900a4a6b68d70c6bd1920ca08617fe31), but then added some after successfully installing them.

## Reproduction

I execut

[2022-01-15 08:05] SMillerDev commented on #438
Does any of them actually provide a service?

[2022-01-15 16:22] jvanderen1 commented on #438
If you're referring the to formulae in my Brewfile, not that I'm aware 🤔.

I do wonder why the `brew bundle dump` command needs to list gather brew services.

[2022-01-17 12:49] janrito opened #442 "Unable to launch sleepwatcher with custom configuration"
### `brew gist-logs <formula>` link OR `brew config` AND `brew doctor` output

[code]

[code]

### Verification

- [X] I ran `brew update` and am still able to reproduce my issue.
- [X] I have resolved all warnings from `brew doctor` and that did not fix my problem.

### What were you trying to do (and why)?

I'm trying to run the `sleepwatcher` service with a custom configuration:

[code]

The de

[2022-01-17 13:22] MikeMcQuaid commented on #438
Can you provide the full `brew bundle dump` output?

To dump whether they are running or not. We may be able to avoid printing this warning in this case, though.

[2022-01-17 18:32] jvanderen1 commented on #438
Sure thing!

[code]

[2022-01-18 10:41] MikeMcQuaid commented on #438
@jvanderen1 You still see the `Warning` without the debug flag, right?

[2022-01-18 19:02] jvanderen1 commented on #438
@MikeMcQuaid Correct, without the debug flag, I just see the warning.

[2022-01-19 08:39] MikeMcQuaid commented on #438
@SMillerDev @jvanderen1 Thoughts on disabling this warning unless the terminal is a TTY i.e. not when reading/parsing the output?

[2022-01-19 08:51] SMillerDev commented on #438
Yeah, sounds good to me.

[2022-01-20 12:22] #438 closed

[2022-01-24 12:09] MikeMcQuaid commented on #431
https://github.com/Homebrew/homebrew-core/pull/92294 was merged

[2022-01-24 12:09] #431 closed

[2022-01-28 02:17] PrasadChinwal commented on #415
@SMillerDev I think it is safe to close this issue as I believe this is not really a bug. It is related to #433.

[2022-01-28 07:12] #415 closed

[2022-02-06 00:14] #434 closed

[2022-02-17 00:11] #442 closed

[2022-02-21 11:03] zourdyzou opened #454 "Error: undefined method `length' for nil:NilClass"
### `brew config` output

[code]

### `brew doctor` output

[code]

### Verification

- [X] I ran `brew update` and am still able to reproduce my issue.
- [X] I have resolved all warnings from `brew doctor` and that did not fix my problem.

### What were you trying to do (and why)?

Before I installed the httpd package on my local machine it works just charm like this:
[code]
but after I installed

[2022-02-21 12:20] SMillerDev commented on #454
What happens when you stop it again?

[2022-02-21 12:55] zourdyzou commented on #454
it works just charm

[2022-02-21 14:30] zourdyzou commented on #454
[code]

[2022-02-21 14:48] SMillerDev commented on #454
Oops, I meant `brew services info httpd --json`. Sorry about that.

[2022-02-28 14:59] zourdyzou commented on #454
Hey @SMillerDev I just changed the environment to use dpkg and it is working fine right now, I will close this issue immediately

[2022-02-28 14:59] #454 closed

[2022-03-01 17:56] apainintheneck commented on #392
I'd be happy to work on this if no one else is currently tackling it but I do have a few questions.

[2022-03-01 18:48] jimeh commented on #392
This largely seems addressed now, with the `scheduled` status working with `logrotate` for example.

However, there's a new `none` status which seems to be the new `stopped`. Except for `dbus`, the first time I tried starting it it changed from `none` to `stopped`.

Is it safe to treat statuses `none` and `stopped` as the same thing?

[2022-03-01 18:55] SMillerDev commented on #392
`none` means no status so it's definitely not running (this is usually the case on a fresh install/reboot)

`stopped` means it ran before but now it stopped.

If those two are interchangeable in your use case you can treat them as the same.

[2022-03-01 19:05] jimeh commented on #392
@SMillerDev cool, thanks :)

In my case nearly everything reverts to `none` when I stop them, I'm assuming that's expected behavior.

And it does sound like `none` and `stopped` are fine to treat as the same for the purposes of my xbar script: https://github.com/jimeh/dotfiles/blob/main/xbar/brew-services.10m.rb

![screenshot](https://share.jimeh.me/Screen-Shot-2022-03-01-19-03-19.15-cbrhFgH8zm68.

[2022-03-01 19:07] jimeh commented on #392
Personally I think this issue is resolved, but I'll leave this open for now in case anyone that's been involved with fixing the issue has anything left they want to tackle related to it.

[2022-03-01 19:44] #392 closed

[2022-03-01 19:44] MikeMcQuaid commented on #392
Let's close if @jimeh is happy and reopen if need be.

[2022-03-02 02:38] apainintheneck opened #459 "Update Readme"
Since it looks like systemctl support has been added to `homebrew services` the readme should probably be updated to reflect that. At the moment, it says that it doesn't work on linux and does not mention systemctl at all. Maybe I'm misunderstanding that though.

[2022-03-03 19:19] apainintheneck commented on #459
Oh and also it would probably be good idea to update the about thing in the sidebar to make this project easier to find. Of course, I don't have access to that though.

![Screen Shot 2022-03-03 at 11 18 09 AM](https://user-images.githubusercontent.com/42982186/156636746-77eacd08-7c54-40fa-9ca4-e1c8d793e76d.png)

^ something like this

[2022-03-04 07:56] Rylan12 commented on #459
Updated, thanks!

I also removed the `'` after macOS which I don't think is necessary anymore (per my comment in #460). Let me know if you agree

[2022-03-05 08:45] #459 closed

[2022-03-25 18:37] apainintheneck opened #469 "Update line in functional tests"
I was looking at the GitHub actions because my test aren't passing (but I'm sure that's unrelated) and I found this line that probably should be updated. It's in the functional tests section and is [line 112](https://github.com/Homebrew/homebrew-services/blob/3fbd50aef0d70b690ffbc8488bb3f2210f13719b/.github/workflows/tests.yml#L112).

`if launchctl list | grep redis; then false; else true; fi`

It

[2022-03-28 08:23] MikeMcQuaid commented on #469
Yes, good find! Could you submit a PR?

[2022-03-28 16:59] apainintheneck commented on #469
Yeah, sure. I don't why but I thought you had to be a part of a organization to change the workflows. Otherwise I would have just done it. I'll submit a PR.

[2022-03-28 22:27] apainintheneck commented on #469
It looks like it's a bit more complicated than just changing one line.

I wanted to just run `brew services list | grep 'redis *none'` because that should be the status when a service has been unloaded but that only worked on MacOS.

My hunch is that maybe the FormulaWrapper#loaded? command behaves differently depending on the operating system but I have nothing to back that up. It might also be r

[2022-04-04 16:37] #469 closed

[2022-04-07 03:41] apainintheneck opened #472 "Using custom service files"
Looking at the code I'm kind of confused by the support for custom service files. The help page says the following:
```--file    Use the plist file from this location to start or run the service.```

command | macOS | linux
:------------ | :-------------| :-------------
run | :x: |  :x:
start | :white_check_mark: |  :white_check_mark:
restart | ✔️ | ✔️

It seems like custom service files only work

[2022-04-07 06:22] SMillerDev commented on #472
I'm fine with 2. I remember that my initial Linux support broke this option since I didn't notice it existed, but that did trigger some complaints so removing everything might not be a solution either.

I'd suggest to keep the file in the run/restart function signature for now and give a warning there that it's unsupported.

[2022-04-07 11:45] MikeMcQuaid commented on #472
2. sounds good to me too!

[2022-04-07 15:12] troyxmccall opened #473 "pulseaudio degraded (latency & popping) when running as brew service [only] - monterrey m1"
hi, first off - I love this project and thank you for all for you wonderful/incredible work

root question:
**do brew services run with less priority than manually executing a daemon from terminal?**

I'm experiencing clipping & latency when running `pulseaudio`as a brew service on my [nearly maxed out m1 macbook pro], ie:

[code]
grepping the process
[code]

**but zero clipping and latency when r

[2022-04-07 15:17] SMillerDev commented on #473
Since this is about configuration questions I'm moving this to the discussions

[2022-04-07 15:19] SMillerDev commented on #473
Oh, I actually can't. You'll have to re-open this as a discussion then since all `brew services` does is wrap launchctl to launch services. It doesn't actually set anything specific for ARM or Intel (it doesn't even have a concept of architectures)

[2022-04-07 15:19] #473 closed

[2022-04-07 15:25] troyxmccall commented on #473
@SMillerDev this answered my question, and confirmed my fears! ty

appreciate all your hard work.

[2022-04-13 14:38] #472 closed

[2022-07-18 10:21] salomvary opened #491 "`brew services` is NOT automatically installed when first run"
What am I doing wrong? Tried `brew update` and `brew update-reset` as suggested earlier in https://github.com/Homebrew/homebrew-services/issues/206.

[code]

[2022-07-18 10:37] salomvary commented on #491
`brew tap homebrew/services` fixed the issue.

Interestingly, I found the answer in `https://issuemode.com/issues/Homebrew/homebrew-services/2424356` after googling around a bit. It seems like a SEO spam mirror site of GitHub issues but the original issue can no longer be found in this repo. Was the issue perhaps deleted?

Given that this is a few weeks old fresh installation of Homebrew I was won

[2022-07-18 10:38] salomvary commented on #491
Found another duplicate: https://github.com/Homebrew/homebrew-services/issues/404

[2022-07-19 11:15] polo2444172276 opened #494 "Error: Invalid usage: `brew services` is supported only on macOS or Linux (with systemd)!"
### `brew gist-logs <formula>` link OR `brew config` AND `brew doctor` output

[code]

### Verification

- [X] I ran `brew update` and am still able to reproduce my issue.
- [X] I have resolved all warnings from `brew doctor` and that did not fix my problem.

### What were you trying to do (and why)?

```brew services```
to start postgresql
I haven't resolved all warnings from ```brew doctor```, b

[2022-07-20 14:09] polo2444172276 commented on #494
Alright. I get what you are saying. But should I should fix ```brew doctors``` first or ```brew services``` first? I have no idea dealing with either of them.

I tried `brew services start postgresql` before trying `brew services`. They raise the same error. That's why I think the issue is with `brew services`.

[2022-07-20 14:13] carlocab commented on #494
Do
[code]
then try again.

And, in general, avoid setting any `HOMEBREW_*` environment variables -- those will break things. The other `HOMEBREW_*` variables you have set come from `brew shellenv`, so those are fine.

[2022-07-21 09:14] MikeMcQuaid commented on #494
@carlocab I think that's been enough people in a short period we should consider fixing the `HOMEBREW_PATH` part in Homebrew/brew. Thoughts?

[2022-07-21 09:19] carlocab commented on #494
Absolutely. Re-opened https://github.com/Homebrew/brew/issues/13548. We can probably close this one.

[2022-07-21 09:28] #494 closed

[2022-08-03 15:57] mjpieters opened #496 "Linux (debian): requires dbus-session-bus or should retain XDG_RUNTIME_DIR for systemctl --user to function"
I'm using linuxbrew on Debian 10, which has systemd with `--user` support. However, none of the `brew services` commands actually work.

I tracked this down to the `XDG_RUNTIME_DIR` variable not being set; `/home/linuxbrew/.linuxbrew/Homebrew/bin/brew` has a whitelist of environment variables it keeps (unless the deprecated `HOMEBREW_NO_ENV_FILTERING` env var is set), and this list doesn't include

[2022-08-03 16:52] mjpieters commented on #496
I see that the codebase does try to preserve `DBUS_SESSION_BUS_ADDRESS`, but this is not a variable that is set on my system:

[code]

nor does setting it to the common value `/run/user/$UID/bus` make `systemctl --user` work:

[code]

There is no `bus` entry in my `$XDG_RUNTIME_DIR` directory, only a `systemd` directory with `notify` and `private` sockets. From `strace systemctl --user status` it

[2022-08-03 17:12] mjpieters commented on #496
I found [`dbus-user-session`](https://packages.debian.org/buster/dbus-user-session), which gives me a dbus service on my headless system, and new sessions now have a `DBUS_SESSION_BUS_ADDRESS` env var, which is used instead of `$XDG_RUNTIME_DIR/systemd/private`.

Perhaps this (or rather,  the [virtual `dbus-session-bus` package](https://packages.debian.org/buster/dbus-session-bus) is a minimal req

[2022-08-04 10:37] MikeMcQuaid commented on #496
Yes, this seems like a good addition to the `brew services` code to error out in your circumstance better with a message suggesting installing these packages.

Alternatively, I would be fine with `XDG_RUNTIME_DIR` being passed through in the same way `DBUS_SESSION_BUS_ADDRESS` is, if you'd be open to creating a Homebrew/brew and Homebrew/homebrew-services PR to handle that, @mjpieters?

[2022-08-08 20:45] mjpieters commented on #496
I'll see if I can find some time.

SIde note: under tmux, `systemctl --user` relies on `XDG_RUNTIME_DIR`, so making sure `XDG_RUNTIME_DIR` is passed through under homebrew also would let you drop the warning about things not working under tmux.